.wrapper.auth{
  main {
    .signup_form_all {
      opacity: 0;
      width: 100%;
      height: auto;
      position: absolute; //追加t
      right: 0;//追加t
      left: 350px;//追加t
      top: 0;//追加t
      bottom: 0;//追加t
      margin: auto;//追加t
      display: flex;
      .signup_form_left {
        width: 50%;
        display: flex;
      }
      .signup_form_title {
        width: 70%;
        height: calc(100% * 0.2625);
        margin: 60px 0 0 auto;
        padding: 0 25px;
        background-color: #e95884;
        color: #000;
        border-radius: 10px 0 0 10px;
        display: flex;
        box-shadow: 0 0 8px #ccc;
        z-index: 9999;
      }
      .h_area {
        width: auto;
        height: auto;
        margin: auto;
      }
      h1 p {
        color: #fff;
        font-family: "Noto Sans JP";
      }
      .h1_sub {
        font-size: 22px;
      }
      .main_title2 {
        margin-bottom: 0;
        font-size: 35px;
      }
      .signup_form_right {
        width: 50%;
        display: flex;
      }
      .signup_control {
        width: 70%;
        height: 860px;
        margin: 60px auto 0 0;
        padding: 0 25px;
        background-color: #fff;
        color: #000;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 0 8px #ccc;
        z-index: 9998;
      }
      h2 {
        margin-bottom: 5px;
        padding-top: 20px;
        font-size: 28px;
        text-align: center;
        font-family: 'Segoe UI';
      }
      .input_box {
        width: 100%;
      }
      .named_ID {
        margin-top: 5px;
        font-size: 12px;
        font-family: 'Segoe UI';
        text-align: left;
      }
      .required_mark {
        font-size: 20px;
        color: #c03619;
      }
      .staff_name {
        display: flex;
      }
      .family_name {
        width: 48%;
        padding-right: 2%;
      }
      .given_name {
        width: 48%;
        padding-left: 2%;
      }
      input {
        border: none;
        outline: none;
        color: #000;
        margin: 0 auto;
      }
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
      .FormOfms {
        width: 100%;
        height: 28px;
        margin: 0;
        padding-left: 14px;
        transition: all .2s ease;
        border: none;
        border-radius: 10px;
        font-size: 100%;
        box-shadow: 0 0 4px #aaa;
        box-sizing: border-box;
      }
      .FormOfms:focus {
        transform: scale(1.05, 1.05);
        transition: all 0.2s ease;
      }
      .caution_message {
        font-size: 12px;
        line-height: 14px;
        min-height: 16px;
        color: #e60012;
      }
      fieldset {
        border: none;
        padding: 0;
        margin-top: 10px;
      }
      .day_or_night {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
      }
      .day_or_night:hover, .job_timezone:hover {
        background-color: #e4e4e480;
        cursor: pointer;
      }
      .job_timezone {
        height: 20px;
        line-height: 20px;
        display: inline-block;
        padding: 9px 10px;
        margin-right: 18px;
        border-radius: 10px;
        transition: all .2s;
        font-family: 'Segoe UI';
        outline: none;
      }
      .day_or_night:checked + .job_timezone {
        background-color: #9cd8f6;
        color: #fff;
      }
      .input_box_02 {
        padding-bottom: 5px;
      }
      .assignment_or_not {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
      }
      .adm_rights {
        height: 20px;
        line-height: 20px;
        display: inline-block;
        padding: 9px 10px;
        margin-right: 18px;
        border-radius: 10px;
        transition: all .2s;
        font-family: 'Segoe UI';
        outline: none;
      }
      .assignment_or_not:checked + .adm_rights {
        background-color: #9cd8f6;
        color: #fff;
      }
      .adm_rights:hover, .assignment_or_not:hover {
        background-color: #e4e4e480;
        cursor: pointer;
      }
      .password_for_assignment {
        display: none;
        padding: 0 15px;
        width: 75%;
        box-shadow: 0 0 4px #ddd;
      }
      .pw_box {
        color: #00213b;
        border-color: #00213b;
      }
      .input_file {
        margin-top: 10px;
        box-sizing: border-box;
      }
      .file_upload {
        display: block;
        width: 100%;
        height: 56px;
        margin-left: 0;
        border-radius: 5px;
        border: dashed 3px #9cd8f6;
        box-sizing: border-box;
      }
      .file_upload:hover {
        cursor: pointer;
      }
      .file_upload p {
        text-align: center;
        padding: 0 15px;
        font-family: 'Segoe UI';
        width: 100%;
        font-size: 20px;
        color: #9cd8f6;
        line-height: 56px;
        box-sizing: border-box;
      }
      .img_file_upload {
        display: none;
      }
      .final_resister {
        width: 100%;
        text-align: center;
      }
      .signup_button {
        width: 40%;
        height: 28px;
        margin: 50px auto;
        padding: 5px 20px;
        background-color: #fff;
        color: #00b4b6;
        font-size: 16px;
        line-height: 16px;
        font-family: 'Segoe UI';
        text-align: center;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 0 4px #aaa;
        box-sizing: border-box;
        transition: all .2s;
      }
      .signup_button:hover {
        color: #fff;
        background-color: #0cd6da;
        cursor: pointer;
      }
    }
    .signup_form_all.hide_second {
      animation-name: change_2;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
    .signup_form_all.show_second {
      animation-name: returnchange_2;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    .signup_form_all.none_second {
      display: none;
    }
    @keyframes change_2 {
      0% {
        opacity: 0;
        transform: translateX(0px);
      }
      30% {
        opacity: 0;
        transform: translateX(0px);
      }
      100% {
        opacity: 1;
        transform: translateX(-350px);
      }
    }

    @keyframes returnchange_2 {
      0% {
        opacity: 1;
        transform: translateX(-350px);
      }
      100% {
        opacity: 0;
        transform: translateX(0px);
      }
    }
  }
}


