.wrapper.cart-index {
  min-height: 100vh;
  position: relative; // 相対位置
  padding-top: 80px;
  box-sizing: border-box; // 全て含めてmin -height : 100 vh
  main {
    min-height: calc(100vh - 188px);
    position: relative; // 相対位置
    box-sizing: border-box;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: #432;
    }
    /* メイン部分 --------------------------------------------------- */
    /* 全体的に変更しているのでここは全て置き換えたほうがいい */
    .shopping_cart_box {
      width: 85%;
      /* 変更 */
      margin: 108px auto 60px auto;
      border-radius: 20px;
      border: solid 2px #bbb;
      box-shadow: 0 0 8px #ddd;
      box-sizing: border-box;
      background-color: #fff;
    }
    .shopping_cart_info {
      width: 80%;
      height: auto;
      margin: auto;
    }
    .shopping_cart_title {
      width: auto;
      color: #432;
      text-align: center;
      margin: 50px auto 15px;
      padding: 0 20px 0;
      font-size: 36px;
      font-family: 'Caveat', cursive;
      border-bottom: solid 3px #432;
    }
    .select_all {
      display: flex;
    }
    .select_items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-top: 10px;
    }
    .select_items li {
      width: 100%;
      height: 150px;
      margin: 0;
      padding: 5px 0;
      border-top: solid 1px;
      border-bottom: solid 1px;
      border-color: #f5f3f2;
      display: flex;
      /* additional */
      font-family: "Noto Sans JP";
    }
    .select_items li:hover {
      background-color: #f5f3f2;
    }
    .for_table_image {
      display: flex;
      width: 125px;
      height: 150px;
      margin: 0;
      align-items: center;
      justify-content: center;
    }
    .select_items li img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
    .products_title_tag {
      width: calc(100% - 458px);
      height: 100%;
      padding-left: 20px;
      box-sizing: border-box;
    }
    .products_title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .products_title a {
      font-size: 19px;
      color: #432;
    }
    .products_title a:hover {
      color: #8e775d;
    }
    .products_model_number, .products_discription {
      font-size: 14px;
    }
    .products_discription {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
    }
    /* めっちゃへんこうした */
    .products_tag_all {
      width: 100%;
      height: 50px;
      display: flex;
    }
    .products_tag {
      width: auto;
      height: 44px;
      margin: auto 0;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    .tag_per {
      display: flex;
      margin: 5px 0 5px 10px;
    }
    .submit_tag {
      width: auto;
      height: 34px;
      color: #fff;
      /* margin-right: 10px; */
      padding: 2px 10px;
      display: inline-block;
      line-height: 30px;
      background-color: #2bb7b3;
      vertical-align: middle;
      /* 追加 */
      font-size: 16px;
      box-shadow: 2px 2px #eee;
      box-sizing: border-box;
      border-radius: 34px;
    }
    .submit_tag:hover {
      background-color: #e95884;
    }
    .add_info_form {
      width: 100%;
      height: 22px;
      display: flex;
    }
    .add_info_form p {
      width: 125px;
      margin-left: 5px;
    }
    .add_info_input {
      width: calc(100% - 130px);
      height: 22px;
      padding: 5px;
      border-radius: 5px;
      font-size: 100%;
      font-family: "Noto Sans JP";
      box-shadow: 0 0 4px #aaa;
      box-sizing: border-box;
    }
    .price_number_form {
      width: auto;
      height: 150px;
      display: flex;
    }
    .products_price {
      height: 100%;
      width: 80px;
      padding-left: 20px;
      margin-right: 0;
    }
    .products_price p {
      margin: 65px 0;
      color: #e60012;
      font-weight: bold;
      text-align: center;
    }
    .reconfirm_item_amount {
      height: 100%;
      margin-left: 20px;
    }
    .amount_change_button_all {
      width: 156px !important;
      height: 50% !important;
      display: flex;
    }
    .amount_change_button {
      width: 116px !important;
      height: 30px;
      margin: auto auto 10px auto;
      display: inline-block;
    }
    input {
      border: none;
      outline: none;
      color: #000;
      margin: 0 auto;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    .amount_change_button {
      width: 120px;
      height: 30px;
      margin-top: 63px 0 0;
      box-sizing: border-box;
      text-align: center;
    }
    .amount_change_button input {
      border: 1px solid #ccc;
      font-size: 20px;
      vertical-align: middle;
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
    .amount_change_button input[type="button"]{
        cursor: pointer;
    }
    .amount_button {
      height: 28px;
      width: 28px;
      background-color: #e95884;
      color: #fff;
      font-size: 28px;
      line-height: 28px;
      font-weight: bold;
      text-align: center;
      border-radius: 4px;
      -ms-user-select: none;
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      border: none;
      order: 1;
    }
    .FormOfms {
      height: 28px;
      width: 50px;
      transition: all .6s ease;
      border: 1px solid #000;
      border-radius: 4px;
      background-color: #fff;
      font-size: 100%;
      text-align: center;
      order: 2;
    }
    .submit_button {
      width: 100px;
      margin-right: 0;
      display: flex;
    }
    .submit_button_01, .submit_button_02 {
      width: 100%;
      height: 50%;
      margin: auto 0;
      display: flex;
    }
    .button_cartin_div_01 {
      width: 114px;
      height: 35px;
      margin: 10px auto auto auto;
    }
    .button_cartin_div_02 {
      width: 100%;
      height: 35px;
      margin: auto 0;
    }
    .button_cartin {
      width: 116px;
      height: 35px;
      margin: auto 0;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #e95884;
      cursor: pointer;
    }
    .delete_button_cartin {
      width: 100px;
      height: 35px;
      margin: auto;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #d80c18;
      cursor: pointer;
    }
    .button_cartin p {
      text-align: center;
      /* additional */
      font-family: "Noto Sans JP";
      font-size: 14px;
      border-radius: 5px;
      color: #fff;
    }
    .button_cartin i {
      font-size: 18px;
      margin-left: 10px;
    }
    .delete_button_cartin p {
      text-align: center;
      /* additional */
      font-family: "Noto Sans JP";
      font-size: 18px;
      border-radius: 5px;
      color: #fff;
    }
    .delete_button_cartin i {
      font-size: 18px;
      margin-left: 10px;
    }
    .dsp_all_price {
      width: 80%;
      margin: 0 0 0 auto;
      display: flex;
    }
    .dsp_all_price p {
      font-family: "Noto Sans JP";
      font-size: 26px;
      padding: 7px 34px;
      box-shadow: 2px 2px #ccc;
    }
    .dsp_all_price_title {
      margin: 0 0 0 auto;
      background-color: #e95884;
      color: #fff;
      border: solid 4px #e95884;
      border-radius: 0 0 0 10px;
    }
    .all_price {
      margin-right: 0;
      border: solid 4px #e95884;
      border-radius: 0 0 10px 0;
    }
    .final_resister {
      display: flex;
      margin: 60px auto 40px;
      text-align: center;
    }
    .button_item_submit_01 {
      border: none;
      outline: none;
      background-color: #f08437;
      border-radius: 5px;
      box-shadow: 2px 2px #da6a38;
      color: #fff;
      font-size: 24px;
      margin: 0 50px 0 auto;
      padding: 10px 25px;
      font-family: "Noto Sans JP";
      cursor: pointer;
    }
    .button_item_submit_02 {
      border: none;
      outline: none;
      background-color: #0068b7;
      border-radius: 5px;
      box-shadow: 2px 2px #5188b1;
      color: #fff;
      font-size: 24px;
      margin: 0 auto 0 50px;
      padding: 10px 40px;
      font-family: "Noto Sans JP";
      cursor: pointer;
    }

    /* modal section ----------------------------------------------- */

    /* モーダルCSS */
    .modalArea {
      opacity: 0;
      width: 100%;
      height: calc(100% - 158px);
      position: fixed;
      z-index: 100000;
      top: 68px;
      left: 0;
    }
    .modalArea.show {
      animation-name: show-animation;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
    }
    .modalArea.hide {
      animation-name: hide-animation;
      animation-duration: 600ms;
      animation-fill-mode: forwards;
    }
    .modalArea.none {
      display: none;
    }
    @keyframes show-animation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes hide-animation {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .modalBg {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .modalWrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      width: 70%;
      max-width: 500px;
      padding: 10px 30px;
      background-color: #fff;
      border: solid 2px #ccc;
      border-radius: 10px;
      box-shadow: 0 0 8px #aaa;
    }
    .modalContents p {
      font-family: "Noto Sans JP";
    }
    .delete_item_title {
      margin-top: 10px;
      padding-left: 20px;
      font-size: 20px;
      border-left: solid 4px #e95884;
    }
    .delete_item_centence {
      margin-top: 20px;
      padding-left: 25px;
      font-size: 16px;
    }
    .final_dicision {
      display: flex;
      margin: 30px auto 20px;
      text-align: center;
    }
    .final_dicision button {
      border: none;
      outline: none;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      font-family: "Noto Sans JP";
      cursor: pointer;
    }
    .cansellation_delete {
      margin: 0 50px 0 auto;
      padding: 10px 25px;
      background-color: #f08437;
      box-shadow: 2px 2px #da6a38;
    }
    .dicision_delete {
      margin: 0 auto 0 50px;
      padding: 10px 40px;
      background-color: #e8382f;
      box-shadow: 2px 2px #c41a30;
    }
  }
}
