@charset "UTF-8";

.wrapper.user-edit {
  min-height: 100vh;
  padding-bottom: 87px;
  position: relative;
  box-sizing: border-box;
}

.wrapper.user-edit main {
  min-height: calc(100vh - 150px);
  position: relative;
  padding-bottom: 40px;
  box-sizing: border-box;
  /* ここからが変更結構あるとこ ---------------------------------- */
}

.wrapper.user-edit main .item_resist_box {
  width: 80%;
  margin: 108px auto 40px auto;
  box-shadow: 0 0 8px #aaa;
  border-radius: 10px;
}

.wrapper.user-edit main .main_resist_title {
  width: 80%;
  color: #432;
  text-align: center;
  margin: 50px auto 15px;
  padding: 15px 20px 0;
  font-size: 36px;
  font-family: "Caveat", cursive;
  font-weight: bolder;
  border-bottom: solid 3px #432;
}

.wrapper.user-edit main .for_edit_page {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.wrapper.user-edit main .for_edit {
  padding: 0 10px;
  font-size: 16px;
  line-height: 28px;
  color: #777;
  border: solid 1px #ccc;
  border-radius: 7px;
}

.wrapper.user-edit main .for_edit:hover {
  color: #432;
  background-color: #ccc;
}

.wrapper.user-edit main .resist_all {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.wrapper.user-edit main .change_img_div {
  display: flex;
}

.wrapper.user-edit main .for_preview_image {
  display: flex;
  width: 120px;
  height: 120px;
  margin: 10px 0 10px auto;
  padding: 0;
  border: double 5px #0068b7;
  border-radius: 50%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;
}

.wrapper.user-edit main .change_img_lav {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.wrapper.user-edit main .change_img_input {
  display: none;
}

.wrapper.user-edit main .for_preview_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  margin-top: 0;
}

.wrapper.user-edit main .plus_mark {
  margin: auto auto 5px -38px;
}

.wrapper.user-edit main .plus_mark i {
  font-size: 30px;
  color: #0068b7;
  background-color: #fff;
  border-radius: 30px;
  border: solid 3px #fff;
}

.wrapper.user-edit main input {
  border: none;
  outline: none;
  color: #111;
  margin: 0 auto;
  box-shadow: 0 0 8px #aaa;
  border-radius: 10px;
}

.wrapper.user-edit main input[type=number]::-webkit-outer-spin-button,
.wrapper.user-edit main input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper.user-edit main input[type=number] {
  -moz-appearance: textfield;
}

.wrapper.user-edit main .account_main_div {
  width: 90%;
  height: auto;
  margin: 10px auto;
}

.wrapper.user-edit main .account_main_div_first {
  width: 367px;
  margin: 0 auto 10px;
  display: flex;
}

.wrapper.user-edit main .account_name {
  width: 176px;
  margin: 0 auto;
  font-family: "Segoe UI";
  font-size: 32px;
  text-align: center;
}

.wrapper.user-edit main .account_main_div_second {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wrapper.user-edit main .staff_num {
  font-family: "Segoe UI";
  font-size: 20px;
  text-align: center;
}

.wrapper.user-edit main .staff_num_input {
  width: 150px;
  margin-left: 10px;
  font-family: "Segoe UI";
  font-size: 20px;
  text-align: center;
}

.wrapper.user-edit main .account_personal_info {
  padding-bottom: 40px;
}

.wrapper.user-edit main .personal_info_title {
  width: 90%;
  margin: 35px auto 10px;
  border-bottom: solid 2px #0068b7;
}

.wrapper.user-edit main .personal_info_title p {
  padding-left: 15px;
  font-family: "Segoe UI";
  font-size: 28px;
}

.wrapper.user-edit main .personal_info_div {
  width: 90%;
  margin: 0 auto;
}

.wrapper.user-edit main .mail_address_div {
  display: flex;
}

.wrapper.user-edit main .mail_address_input {
  height: 34px;
  width: calc(100% - 117px);
  padding-left: 15px;
  font-size: 20px;
  box-sizing: border-box;
}

.wrapper.user-edit main .timezone_div {
  display: flex;
}

.wrapper.user-edit main .administrator_p,
.wrapper.user-edit main .mail_address_div,
.wrapper.user-edit main .timezone_div {
  margin: 35px 0 0 50px;
  font-size: 20px;
}

.wrapper.user-edit main .select_timezone_all {
  width: 358px;
  cursor: pointer;
}

.wrapper.user-edit main .select_timezone_p {
  padding-left: 15px;
  border-bottom: solid 2px #432;
}

.wrapper.user-edit main .select_menu {
  width: 358px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px #aaa;
  position: absolute;
  z-index: 999;
  display: none;
}

.wrapper.user-edit main .select_menu li {
  padding-left: 15px;
  border: solid 1px #fff;
  border-radius: 3px;
  box-sizing: border-box;
}

.wrapper.user-edit main .select_menu li:hover {
  background-color: #0068b7;
  color: #fff;
}

.wrapper.user-edit main .final_resister {
  display: flex;
  margin-top: 0;
  padding-bottom: 40px;
  text-align: center;
  box-sizing: border-box;
}

.wrapper.user-edit main .button_item_submit_01 {
  border: none;
  outline: none;
  background-color: #f08437;
  border-radius: 5px;
  box-shadow: 2px 2px #da6a38;
  color: #fff;
  font-size: 24px;
  margin: 0 50px 0 auto;
  padding: 10px 25px;
  font-family: "Noto Sans JP";
  cursor: pointer;
}

.wrapper.user-edit main .button_item_submit_02 {
  border: none;
  outline: none;
  background-color: #0068b7;
  border-radius: 5px;
  box-shadow: 2px 2px #5188b1;
  color: #fff;
  font-size: 24px;
  margin: 0 auto 0 50px;
  padding: 10px 40px;
  font-family: "Noto Sans JP";
  cursor: pointer;
}


