.wrapper.admin {
  display: flex;
  background-image: url("/image/admin_background.jpeg");
  background-size: cover;
  padding-bottom: 0px;
  min-height: 135vh;
}

.wrapper.admin p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper.admin header.admin_header {
  background: rgba(0, 0, 0, 0.822);
  box-shadow: 4px 0 4px #a7a7a7d2;
  z-index: 2;
  min-width: 270px;
  padding-bottom: 70px;
}

.wrapper.admin header.admin_header .header-box {
  background: transparent;
  width: 90%;
  margin: 0 auto;
}

.wrapper.admin header.admin_header .header-box .header-title {
  color: #fff;
  text-align: center;
  height: 90px;
  line-height: 90px;
  font-size: 19px;
  border-bottom: 1px solid #7a7a7a;
  display: flex;
  justify-content: center;
}

.wrapper.admin header.admin_header .header-box .header-title img {
  display: block;
  width: 60px;
  height: 60px;
  cursor: default;
  align-self: center;
  margin-right: 20px;
}

.wrapper.admin header.admin_header .header-box ul {
  margin-top: 30px;
  list-style: none;
  padding-left: 0;
}

.wrapper.admin header.admin_header .header-box ul li {
  height: 50px;
  border-radius: 5px;
}

.wrapper.admin header.admin_header .header-box ul li a {
  text-decoration: none;
  color: #dddddde7;
  display: block;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
}

.wrapper.admin header.admin_header .header-box ul li a .icon {
  margin: 0 20px 0;
}

.wrapper.admin header.admin_header .header-box ul li a .icon.cart-icon {
  margin: 0 20px 0 16px;
}

.wrapper.admin header.admin_header .header-box ul li.selected {
  background: #800080cc;
}

.wrapper.admin header.admin_header .header-box ul li:not(:first-of-type) {
  margin-top: 10px;
}

.wrapper.admin header.admin_header .header-box ul li:not(.selected):hover {
  background: #383838e0;
  transition: 0.3s;
}

.wrapper.admin main {
  background: #eee;
  z-index: 1;
  flex: 1;
  position: relative;
  padding-bottom: 70px;
  width: calc(100vw - 350px);
}

.wrapper.admin main .modal-window {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  margin: auto;
  z-index: 3;
  width: 950px;
}

.wrapper.admin main .modal-window .modal-contena {
  position: relative;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper.admin main .modal-window .modal-contena .modal-contena-logo {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  top: -25px;
  left: 15px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: #9c009c;
}

.wrapper.admin main .modal-window .modal-contena .modal-contena-logo .submain-contena-icon {
  color: #fff;
}

.wrapper.admin main .modal-window .modal-contena .modal-main {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .modal-title {
  padding-left: 35px;
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  color: #333;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .buttons .back-button {
  background: #9b9b9b;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .buttons .back-button a {
  display: block;
  color: #eee;
  font-size: 12px;
  height: 100%;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .buttons .back-button a .buttons-icon {
  margin-right: 10px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena {
  margin: 100px 0 0;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding-bottom: 30px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .create-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .destroy-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .refresh-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .create-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .destroy-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .refresh-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .create-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .destroy-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .refresh-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .create-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .destroy-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .refresh-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .create-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .destroy-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .refresh-button {
  position: absolute;
  top: 15px;
  right: 40px;
  display: block;
  width: 120px;
  height: 50px;
  background: #9c009c;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .create-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .destroy-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .refresh-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .create-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .destroy-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .refresh-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .create-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .destroy-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .refresh-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .create-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .destroy-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .refresh-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .create-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .destroy-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .refresh-button:hover {
  opacity: 0.8;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .destroy-name,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .destroy-name,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .destroy-name,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .destroy-name,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .destroy-name {
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  padding-left: 35px;
  padding-top: 13px;
  color: #666;
  font-weight: bold;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .destroy-message,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .destroy-message,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .destroy-message,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .destroy-message,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .destroy-message {
  height: 60px;
  line-height: 60px;
  font-size: 19px;
  text-align: center;
  margin-top: 10px;
  color: #ff1122;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .destroy-message .alert-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .destroy-message .alert-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .destroy-message .alert-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .destroy-message .alert-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .destroy-message .alert-icon {
  color: #eb0202;
  margin-right: 10px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .item-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .profile-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .item-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .profile-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .item-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .profile-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .item-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .profile-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .item-image-box,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .profile-image-box {
  position: absolute;
  background: #fff;
  width: 150px;
  height: 150px;
  top: -60px;
  left: 20px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .item-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .profile-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .item-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .profile-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .item-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .profile-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .item-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .profile-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .item-image-box img,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .profile-image-box img {
  border-radius: 50%;
  border: 2px solid #aaa;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  cursor: default;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .item-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .profile-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .item-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .profile-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .item-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .profile-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .item-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .profile-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .item-image-box .file-select-button,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .profile-image-box .file-select-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .item-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .profile-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .item-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .profile-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .item-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .profile-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .item-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .profile-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .item-image-box .file-select-button:hover,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .profile-image-box .file-select-button:hover {
  cursor: pointer;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .item-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .profile-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .item-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .profile-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .item-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .profile-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .item-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .profile-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .item-image-box .file-select-button .file-label,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .profile-image-box .file-select-button .file-label {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #797979;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .item-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .profile-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .item-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .profile-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .item-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .profile-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .item-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .profile-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .item-image-box .file-select-button .file-label .camera-icon,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .profile-image-box .file-select-button .file-label .camera-icon {
  color: #fff;
  width: 100%;
  height: 100%;
  line-height: 35px;
  text-align: center;
}

.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .item-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .create-form-contena .profile-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .item-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .show-form-contena .profile-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .item-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .destroy-form-contena .profile-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .item-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .refresh-form-contena .profile-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .item-image-box .file-select-button .file-input,
.wrapper.admin main .modal-window .modal-contena .modal-main .import-form-contena .profile-image-box .file-select-button .file-input {
  display: none;
}

.wrapper.admin main .modal-window.none {
  display: none;
}

.wrapper.admin main .modal-window.show {
  -webkit-animation-name: showmodal;
          animation-name: showmodal;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes showmodal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showmodal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.wrapper.admin main .modal-window.hide {
  -webkit-animation-name: hidemodal;
          animation-name: hidemodal;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hidemodal {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes hidemodal {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.wrapper.admin main .modal-mask {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #333333b6;
}

.wrapper.admin main .modal-mask.none {
  display: none;
}

.wrapper.admin main .main-contena {
  width: 95%;
  margin: 0 auto;
  -webkit-animation-name: commonmain;
          animation-name: commonmain;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wrapper.admin main .main-contena .main-title {
  color: #8d8d8de7;
  font-size: 20px;
  padding: 30px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper.admin main .main-contena .submain-contena {
  position: relative;
  margin: 70px 20px 0;
  padding: 0 0 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper.admin main .main-contena .submain-contena .submain-contena-logo {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  top: -25px;
  left: 15px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.wrapper.admin main .main-contena .submain-contena .submain-contena-logo .submain-contena-icon {
  color: #fff;
}

.wrapper.admin main .main-contena .submain-contena .submain {
  width: 95%;
  margin: 0 auto;
}

.wrapper.admin main .main-contena .submain-contena .submain .submain-title {
  padding-left: 60px;
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  color: #333;
}

.wrapper.admin main .main-contena .submain-contena .submain .buttons {
  display: flex;
}

.wrapper.admin main .main-contena .submain-contena .submain .buttons li {
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}

.wrapper.admin main .main-contena .submain-contena .submain .buttons li a {
  display: block;
  color: #eee;
  font-size: 12px;
  height: 100%;
}

.wrapper.admin main .main-contena .submain-contena .submain .buttons li a .buttons-icon {
  margin-right: 10px;
}

.wrapper.admin main .main-contena .submain-contena .submain .buttons li:not(:first-of-type) {
  margin-left: 20px;
}

.wrapper.admin main .main-contena .submain-contena .submain .buttons li.add-button {
  background: #b301b3;
}

.wrapper.admin main .main-contena .submain-contena .submain .buttons li.refresh-button {
  background: #9b9b9b;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 50px;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena input,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage_selection,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year_selection {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid silver;
  outline: none;
  font-family: "Noto Sans Japaneze";
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena input:focus ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena input:valid ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage_selection:focus ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage_selection:valid ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year_selection:focus ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year_selection:valid ~ label {
  transform: translateY(-30px);
  color: #9c009c;
  font-size: 15px;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .underline::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #9c009c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena input:focus ~ .underline::before,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena input:valid ~ .underline::before,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage_selection:focus ~ .underline::before,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage_selection:valid ~ .underline::before,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year_selection:focus ~ .underline::before,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year_selection:valid ~ .underline::before {
  transform: scaleX(1);
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage-select-box,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year-select-box {
  position: relative;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage-select-box .perpage_selection,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage-select-box .year_selection,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year-select-box .perpage_selection,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year-select-box .year_selection {
  margin: auto 0;
  padding: 5px 10px 0;
  color: #333;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage-select-box .perpage_selection:focus ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage-select-box .perpage_selection:valid ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage-select-box .year_selection:focus ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .perpage-select-box .year_selection:valid ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year-select-box .perpage_selection:focus ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year-select-box .perpage_selection:valid ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year-select-box .year_selection:focus ~ label,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .year-select-box .year_selection:valid ~ label {
  transform: translate(-20px, -30px);
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .search-box {
  position: relative;
  margin-left: 50px;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .search-box input:focus ~ .search-button,
.wrapper.admin main .main-contena .submain-contena .submain .form-contena .search-box input:valid ~ .search-button {
  background: #9c009c;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .search-box .search-button {
  position: absolute;
  top: 10px;
  right: -37px;
  display: block;
  width: 40px;
  height: 40px;
  background: silver;
  border-radius: 5px;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .search-box .search-button .search-icon {
  color: #fff;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

.wrapper.admin main .main-contena .submain-contena .submain .form-contena .search-box .search-button:hover {
  opacity: 0.8;
}

.wrapper.admin main .main-contena .submain-contena .submain table {
  position: relative;
  border-collapse: collapse;
  font-size: 12px;
  margin: 100px auto 0;
  width: 100%;
}

.wrapper.admin main .main-contena .submain-contena .submain table tr {
  height: 60px;
  max-height: 60px;
}

.wrapper.admin main .main-contena .submain-contena .submain table thead {
  border-bottom: 1px solid lightgray;
}

.wrapper.admin main .main-contena .submain-contena .submain table thead tr th {
  font-size: 16px;
  color: #686868;
  text-align: left;
}

.wrapper.admin main .main-contena .submain-contena .submain table .no-data-message {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 16px;
  color: #aaa;
}

.wrapper.admin main .main-contena .submain-contena .submain table tbody tr td {
  font-size: 16px;
}

.wrapper.admin main .main-contena .submain-contena .submain table tbody tr td .action-icon {
  font-size: 17px;
}

.wrapper.admin main .main-contena .submain-contena .submain table tbody tr td .show-icon {
  color: #2c96ec;
}

.wrapper.admin main .main-contena .submain-contena .submain table tbody tr td .edit-icon {
  color: #01a701;
}

.wrapper.admin main .main-contena .submain-contena .submain table tbody tr td .trash-icon {
  color: #e94b01;
}

.wrapper.admin main .main-contena .submain-contena .submain table tbody tr td .cart-icon {
  color: #bbbbbb;
}

.wrapper.admin main .main-contena .submain-contena .submain table tbody tr:not(:first-of-type) {
  border-top: 1px solid lightgray;
}

.wrapper.admin main .main-contena .submain-contena .submain table.tags-table {
  width: 50%;
}

.wrapper.admin main .main-contena .submain-contena .submain table.noData {
  width: 50%;
  margin-bottom: 90px;
}

.wrapper.admin main .main-contena .submain-contena .submain .paginate-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.wrapper.admin main .main-contena .submain-contena .submain .paginate-box .paginate-link {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px #ccc solid;
  color: #325fc0;
  border-radius: 5px;
}

.wrapper.admin main .main-contena .submain-contena .submain .paginate-box .paginate-link a {
  text-decoration: none;
  color: #325fc0;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  text-align: center;
}

.wrapper.admin main .main-contena .submain-contena .submain .paginate-box .paginate-link:not(:first-of-type) {
  margin-left: 10px;
}

.wrapper.admin main .main-contena .submain-contena .submain .paginate-box .paginate-link.this {
  background-color: #325fc0;
  border: 1px #325fc0 solid;
}

.wrapper.admin main .main-contena .submain-contena .submain .paginate-box .paginate-link.this a {
  color: #fff;
}

.wrapper.admin main .main-contena .submain-contena .submain .paginate-box .paginate-link.this:hover {
  opacity: 0.8;
}

@-webkit-keyframes commonmain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes commonmain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


