.wrapper.admin main.main-history .main-contena .submain-contena .submain-contena-logo {
  background: #9c009c;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena {
  display: flex;
  margin-top: 100px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena {
  min-width: 170px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena {
  margin: 0;
  height: auto;
  display: block;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .year-select-box {
  width: 80%;
  margin: 0 auto;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .year-select-box .year_selection {
  font-size: 18px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .day-index-box {
  overflow-y: auto;
  margin-top: 50px;
  min-height: 350px;
  max-height: 350px;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .day-index-box li {
  height: 50px;
  width: 90%;
  margin: 10px auto 0;
  border: 1px solid #0084ff;
  border-radius: 5px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .day-index-box li a {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #0084ff;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .day-index-box li:last-of-type {
  margin-bottom: 10px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .day-index-box li.selected {
  background: #0084ff;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .left-contena .form-contena .day-index-box li.selected a {
  color: #fff;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena {
  width: calc(100% - 170px);
  align-self: center;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena {
  opacity: 0;
  margin-left: 50px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .create-info-contena {
  display: flex;
  height: 40px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .create-info-contena h1 {
  color: #333;
  font-size: 24px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .create-info-contena p {
  font-size: 12px;
  line-height: 40px;
  margin-left: 40px;
  font-weight: bold;
  color: #4d4d4d;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table {
  overflow-x: scroll;
  white-space: nowrap;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table table {
  border-collapse: collapse;
  margin-top: 50px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table table tr {
  height: 35px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table table th,
.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table table td {
  border: 1px solid #ccc;
  font-size: 12px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table table thead tr th {
  background: #0084ff;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table table thead tr th.min-cell {
  min-width: 30px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena .table table tbody tr td {
  padding: 0 10px;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena.show {
  -webkit-animation-name: showtable;
          animation-name: showtable;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes showtable {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showtable {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .table-contena.none {
  display: none;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .preview-contena .preview-box {
  text-align: center;
  color: #c2c0c0;
}

.wrapper.admin main.main-history .main-contena .submain-contena .submain .flex-contena .right-contena .preview-contena .preview-box p {
  margin-top: 15px;
  text-align: center;
}


