@charset "UTF-8";

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena {
  display: flex;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left {
  width: 60%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .first-row-form,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .second-row-form,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .third-row-form,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fifth-row-form {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form {
  justify-content: space-between;
  margin: 30px 26px 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .second-row-form,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .third-row-form,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fifth-row-form {
  margin-top: 30px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box {
  width: 40%;
  height: 70%;
  position: relative;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input input,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .grade_selection,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .thema_selection,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box input,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .grade_selection,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .thema_selection,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box input,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .grade_selection,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .thema_selection {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid silver;
  outline: none;
  font-family: "Noto Sans Japaneze";
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input input.stocks,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box input.stocks,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box input.stocks {
  width: 70%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input input.unit,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box input.unit,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box input.unit {
  margin-left: 7%;
  width: 20%;
  padding-left: 2px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input input:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input input:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .grade_selection:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .grade_selection:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .thema_selection:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .thema_selection:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box input:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box input:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .grade_selection:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .grade_selection:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .thema_selection:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .thema_selection:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box input:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box input:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .grade_selection:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .grade_selection:valid ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .thema_selection:focus ~ label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .thema_selection:valid ~ label {
  transform: translateY(-30px);
  color: #9c009c;
  font-size: 15px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .underline,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .underline,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .underline::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #9c009c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .underline.stocks::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .underline.stocks::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .underline.stocks::before {
  width: 70%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input input:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input input:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .grade_selection:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .grade_selection:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .thema_selection:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .thema_selection:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box input:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box input:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .grade_selection:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .grade_selection:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .thema_selection:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .thema_selection:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box input:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box input:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .grade_selection:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .grade_selection:valid ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .thema_selection:focus ~ .underline::before,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .thema_selection:valid ~ .underline::before {
  transform: scaleX(1);
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .form-input .caution_message,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .grade-select-box .caution_message,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .thema-select-box .caution_message {
  font-size: 11px;
  color: red;
  position: absolute;
  bottom: -25px;
  left: 10px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .form-input {
  width: 30%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .form-input.all {
  width: 45%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox .radioBox-Input {
  opacity: 0;
  width: 0;
  margin: 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox .radioBox-Input:focus + .radioBox-DummyInput {
  background: #fff;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox .radioBox-Input:checked + .radioBox-DummyInput {
  background: #9c009c;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox .radioBox-Input:checked + .radioBox-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox .radioBox-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.15s linear;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox .radioBox-Label {
  margin-left: 12px;
  display: block;
  font-size: 14px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .fourth-row-form .radioBox:hover > .radioBox-DummyInput {
  transform: scale(1.2);
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .first-row-form {
  padding-top: 35px;
  padding-left: 170px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .first-row-form .form-input {
  width: 70%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-left .first-row-form .form-input input {
  font-size: 16px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right {
  width: 40%;
  margin-top: 61px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .fifth-row-form {
  height: 100px;
  width: 90%;
  margin: 30px auto 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .fifth-row-form .form-input {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .fifth-row-form .form-input textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 13px;
  font-family: "Noto Sans Japaneze";
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .fifth-row-form .form-input label {
  position: absolute;
  top: -5px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .sixth-row-form {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .sixth-row-form .form-input {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .sixth-row-form .form-input input {
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .create-form-contena .modal-right .sixth-row-form .form-input label {
  position: absolute;
  top: -3px;
  left: 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena {
  height: 430px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .first-row-contena,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .second-row-contena {
  height: 60px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .second-row-contena,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena {
  padding: 0 20px;
  margin-top: 30px;
  display: flex;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .content-box {
  position: relative;
  height: 100%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .content-box .content {
  font-size: 16px;
  height: 80%;
  margin: auto 0;
  line-height: 48px;
  border-bottom: 2px solid #9c009c;
  padding-left: 10px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .content-box span {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 15px;
  color: #9c009c;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .first-row-contena {
  padding-top: 35px;
  padding-left: 220px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .first-row-contena .content-box {
  width: 50%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .second-row-contena {
  justify-content: flex-start;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .second-row-contena .content-box:first-of-type {
  margin-right: 50px;
  width: 30%;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .second-row-contena .content-box:not(:first-of-type) {
  flex: 1;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena {
  height: 150px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .left-contena {
  width: 30%;
  margin-right: 50px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .left-contena .left-up-contena {
  display: flex;
  justify-content: flex-start;
  height: 60px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .left-contena .left-up-contena .content-box:first-of-type {
  margin-right: 50px;
  width: calc(50% - (50px / 2));
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .left-contena .left-up-contena .content-box:not(:first-of-type) {
  flex: 1;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .left-contena .left-down-contena {
  margin-top: 30px;
  height: 110px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .left-contena .left-down-contena .content-box .content {
  overflow-y: scroll;
  padding: 10px 0 0;
  line-height: 27px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .left-contena .left-down-contena .content-box .content::-webkit-scrollbar {
  display: none;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .right-contena {
  flex: 1;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .right-contena .content-box {
  margin-top: 20px;
  display: grid;
  grid-auto-rows: 35px;
  grid-template-columns: repeat(auto-fill, calc(50% - (20px / 2)));
  grid-auto-flow: row;
  grid-gap: 20px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .right-contena .content-box .tag {
  position: relative;
  padding-left: 25px;
  border-radius: 5px;
  background: #9c009c;
  color: #fff;
  font-size: 13px;
  line-height: 35px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .right-contena .content-box .tag::before {
  position: absolute;
  content: "●";
  color: #fff;
  left: 5px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena .right-contena .content-box span {
  top: -40px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card img,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card img {
  min-width: 180px;
  max-width: 180px;
  height: auto;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box {
  margin-left: 35px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box h1,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box h1 {
  font-size: 20px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button {
  margin: 25px 0 30px;
  text-align: center;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=button],
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=number],
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=button],
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=number] {
  border: none;
  outline: none;
  color: #333;
  margin: 0 auto;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=number],
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=number] {
  text-align: center;
  border: 1px solid #c5c5c5;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0 15px;
  padding-top: 2px;
  vertical-align: top;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=number]::-webkit-inner-spin-button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=number]::-webkit-outer-spin-button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=number]::-webkit-inner-spin-button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=button],
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=button] {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=button]:hover,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=button]:hover {
  cursor: pointer;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=button].minus,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=button].minus {
  background: #e02f0f;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .amount_change_button input[type=button].plus,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .amount_change_button input[type=button].plus {
  background: #1348d8;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 20px 0 20px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .radio-box,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .radio-box {
  margin-right: 40px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .radio-box input,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .radio-box input {
  display: none;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .radio-box label,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .radio-box label {
  display: block;
  cursor: pointer;
  width: 60px;
  margin: 0;
  padding: 10px;
  background: #bdc3c7;
  color: #869198;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  transition: 0.2s;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .radio-box label:first-of-type,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .radio-box label:first-of-type {
  border-radius: 3px 3px 0 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .radio-box label:last-of-type,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .radio-box label:last-of-type {
  border-radius: 0 0 3px 3px;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .radio-box input[type=radio]:checked + .switch-on,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .radio-box input[type=radio]:checked + .switch-on {
  background-color: #289c10;
  color: #fff;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .radio-box input[type=radio]:checked + .switch-off,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .radio-box input[type=radio]:checked + .switch-off {
  background-color: #c93e34;
  color: #fff;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .form-contena .amount_change_button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .form-contena .amount_change_button {
  margin: 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .cartIn-button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .stocksUpdate-button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .cartIn-button,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .stocksUpdate-button {
  background: #b301b3;
  width: 170px;
  height: 25px;
  margin: 0 auto;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .cartIn-button a,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .stocksUpdate-button a,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .cartIn-button a,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .stocksUpdate-button a {
  display: block;
  height: 100%;
  font-size: 13px;
  color: #fff;
}

.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .cart-card .right-box .cartIn-button:hover,
.wrapper.admin main.main-item .modal-window .modal-contena .modal-main .cart-form-contena .stocks-card .right-box .cartIn-button:hover {
  opacity: 0.8;
}

.wrapper.admin main.main-item .main-contena {
  margin-left: 25px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain-contena-logo {
  background: #9c009c;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain {
  padding: 0 50px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .no-items {
  height: 300px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .no-items p {
  height: 100%;
  margin: auto 0;
  line-height: 300px;
  text-align: center;
  font-size: 20px;
  color: #aaa;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .no-items p .info-icon {
  margin-right: 20px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.add-button {
  background: #b301b3;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.refresh-button {
  background: #9b9b9b;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.favoriteOn-button,
.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.favoriteOff-button {
  box-sizing: border-box;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.favoriteOn-button {
  border: 2px solid #b301b3;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.favoriteOn-button a {
  color: #b301b3;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.favoriteOff-button {
  border: 2px solid #b301b3;
  background: #b301b3;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain .buttons li.favoriteOff-button a {
  color: #fff;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin: 50px auto 0;
  min-height: 300px;
  position: relative;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table .fixed {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 4000;
  background: #fff;
  text-align: center;
  padding: 0 20px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table .fixed .favoriteIcon-box .starOn-icon {
  color: #ffee00;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table .fixed .favoriteIcon-box .starOff-icon {
  color: #aaa;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table thead tr th {
  white-space: nowrap;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td {
  position: relative;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel {
  -webkit-animation-name: showPanel;
          animation-name: showPanel;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #028bb4;
  padding: 10px 20px;
  top: -40px;
  left: 15px;
  background: #fff;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .show-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .edit-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .trash-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .cart-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .plus-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .minus-icon {
  font-size: 15px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .edit-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .trash-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .cart-icon,
.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .plus-icon {
  margin-left: 10px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .cartIcon-box {
  position: relative;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .cartIcon-box .cart-icon.cartIn {
  color: #8a2be2;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .cartIcon-box .cart-count {
  position: absolute;
  top: -18px;
  right: -16px;
  background: red;
  color: #fff;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 10px;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .stocksIcon-box {
  position: relative;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .stocksIcon-box .plus-icon {
  color: #289d10;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel .stocksIcon-box .minus-icon {
  color: #c51212;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel::before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 14px solid transparent;
  border-top: 18px solid #fff;
  z-index: 3000;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -11px;
  border: 10px solid transparent;
  border-top: 14px solid #028bb4;
  z-index: 2000;
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr td .buttonPanel.hide {
  display: none;
}

@-webkit-keyframes showPanel {
  3% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showPanel {
  3% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper.admin main.main-item .main-contena .submain-contena .submain table tbody tr.cartIn {
  background: #d9f8d9be;
}


