.wrapper.admin main.main-item-create .main-contena .submain-contena .submain-contena-logo {
  background: #9c009c;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain .buttons li.add-button {
  background: #b301b3;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain .buttons li.refresh-button {
  background: #9b9b9b;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain table {
  display: block;
  width: 1200px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain table thead tr th {
  white-space: nowrap;
  padding-right: 15px;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain table tbody tr td {
  white-space: nowrap;
  padding-right: 15px;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain table tbody tr td .action-icon {
  margin-right: 20px;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain table tbody tr td .show-icon {
  color: #2c96ec;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain table tbody tr td .edit-icon {
  color: #01a701;
}

.wrapper.admin main.main-item-create .main-contena .submain-contena .submain table tbody tr td .trash-icon {
  color: #e94b01;
}


