.wrapper.admin main.main-notification .main-contena .submain-contena .submain-contena-logo {
  background: #9c009c;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .no-notifications {
  height: 300px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .no-notifications p {
  height: 100%;
  margin: auto 0;
  line-height: 300px;
  text-align: center;
  font-size: 20px;
  color: #aaa;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .no-notifications p .info-icon {
  margin-right: 20px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notificationCount-box {
  width: 75%;
  margin: 30px auto 10px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notificationCount-box .left-box {
  width: 50px;
  height: 100%;
  background: #db398a;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 8px 0 0 8px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notificationCount-box .left-box .icon {
  margin: 0;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notificationCount-box .right-box {
  width: 80px;
  border: 2px solid #db398a;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: deeppink;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena {
  max-height: 600px;
  overflow-y: auto;
  width: 70%;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  background: #fff;
  padding: 50px;
  position: relative;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .no-data {
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  color: gray;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .no-data .no-data-icon {
  margin-right: 20px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena {
  min-height: 100px;
  width: calc(50% - 25px);
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row {
  min-height: 140px;
  max-height: 140px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box {
  position: relative;
  width: 90%;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .up-box,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .up-box {
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  height: 43px;
  padding: 5px 15px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .up-box img,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .up-box img {
  width: auto;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #fff;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .up-box .sub-content,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .up-box .sub-content {
  margin-left: 20px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .up-box .sub-content .user-name,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .up-box .sub-content .user-name {
  color: #fff;
  font-size: 15px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .up-box .sub-content .time,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .up-box .sub-content .time {
  color: #ccc;
  font-size: 11px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .up-box .sub-content .time .time-icon,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .up-box .sub-content .time .time-icon {
  margin-right: 10px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .down-box,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .down-box {
  border-top: 1px solid #ccc;
  padding: 10px 20px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box .down-box p,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box .down-box p {
  color: #333;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box.dayTime .up-box,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box.dayTime .up-box {
  background: #00b4b6;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box.dayTime .up-box .sub-content .time,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box.dayTime .up-box .sub-content .time {
  color: #eee;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box.nightTime .up-box,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box.nightTime .up-box {
  background: #003d5c;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box.teacher .up-box,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box.teacher .up-box {
  background: #c51700;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row.hide,
.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row.hide {
  opacity: 0;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -25px;
  border-style: solid;
  border-width: 10px 10px 10px 15px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box.dayTime::after {
  border-color: transparent transparent transparent #00b4b6;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box.nightTime::after {
  border-color: transparent transparent transparent #003d5c;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .left-contena .chat-row .chat-box.teacher::after {
  border-color: transparent transparent transparent #c51700;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena {
  width: 58px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row {
  height: 140px;
  position: relative;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .center-line {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  background-color: #ddd;
  width: 4px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .icon-box {
  position: absolute;
  border: 4px solid #ddd;
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .icon-box.stock {
  background: #ce3b8c;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .icon-box.user {
  background: #0044ffea;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .icon-box.item {
  background: #019401e3;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .icon-box.thema {
  background: #750175;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .icon-box.export {
  background: #007e94;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .center-contena .center-row .icon-box.subaction {
  background: #ee7c12;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box {
  margin: 0 0 0 auto;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -25px;
  border-style: solid;
  border-width: 10px 15px 10px 10px;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box.dayTime::before {
  border-color: transparent #00b4b6 transparent transparent;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box.nightTime::before {
  border-color: transparent #003d5c transparent transparent;
}

.wrapper.admin main.main-notification .main-contena .submain-contena .submain .notification-chatcontena .right-contena .chat-row .chat-box.teacher::before {
  border-color: transparent #c51700 transparent transparent;
}


