.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena {
  height: 500px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box {
  width: 40%;
  height: 70%;
  position: relative;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .selection,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box input,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .selection {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid silver;
  outline: none;
  font-family: "Noto Sans Japaneze";
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .selection:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box input:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box input:valid ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .selection:focus ~ label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .selection:valid ~ label {
  transform: translateY(-30px);
  color: #9c009c;
  font-size: 15px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .underline,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .underline::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #9c009c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .selection:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box input:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box input:valid ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .selection:focus ~ .underline::before,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .selection:valid ~ .underline::before {
  transform: scaleX(1);
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input label,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .select-box .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .form-input .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form .select-box .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .form-input .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form .select-box .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .form-input .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form .select-box .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .form-input .caution_message,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form .select-box .caution_message {
  font-size: 11px;
  color: red;
  position: absolute;
  bottom: -25px;
  left: 10px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .second-row-form {
  margin-top: 40px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .third-row-form,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fourth-row-form,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form {
  margin-top: 30px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form {
  padding-top: 30px;
  padding-left: 190px;
  padding-right: 195px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .first-row-form .form-input input {
  font-size: 16px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .create-form-contena .modal-content .fifth-row-form.none {
  display: none;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena {
  height: 330px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .first-row-contena,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .second-row-contena,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .second-row-contena,
.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .third-row-contena {
  margin-top: 40px;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .content-box {
  position: relative;
  height: 100%;
  width: 40%;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .content-box .content {
  font-size: 16px;
  height: 80%;
  margin: auto 0;
  line-height: 48px;
  border-bottom: 2px solid #9c009c;
  padding: 0 20px 0 0;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .content-box span {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 15px;
  color: #9c009c;
}

.wrapper.admin main.main-user .modal-window .modal-contena .modal-main .show-form-contena .first-row-contena {
  padding-top: 35px;
  padding-left: 170px;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain-contena-logo {
  background: #9c009c;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain .no-tags {
  height: 300px;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain .no-tags p {
  height: 100%;
  margin: auto 0;
  line-height: 300px;
  text-align: center;
  font-size: 20px;
  color: #aaa;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain .no-tags p .info-icon {
  margin-right: 20px;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain .buttons li.add-button {
  background: #b301b3;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain .buttons li.refresh-button {
  background: #9b9b9b;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin: 50px auto 0;
  min-height: 300px;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain table tr td,
.wrapper.admin main.main-user .main-contena .submain-contena .submain table tr th {
  padding: 0 40px;
  text-align: center;
}

.wrapper.admin main.main-user .main-contena .submain-contena .submain table tbody tr td .edit-icon {
  margin: 0 20px;
}


