.content.user-index .card .card-header {
  background-color: #007bff;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 0.55rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content.user-index .card .card-header .left-box {
  margin-left: 1rem;
}
.content.user-index .card .card-header .left-box .amount-box {
  margin: 0;
}
.content.user-index .card .card-header .right-box ul {
  display: flex;
  align-items: center;
}
.content.user-index .card .card-header .right-box ul li a {
  background-color: #28a745;
  border-radius: 0.25rem;
  width: 3.2rem;
  text-align: center;
  border: 1px solid #aaa;
  color: #fff;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  margin-left: 0.7rem;
}
.content.user-index .card .card-header .right-box ul li a:hover {
  opacity: .9;
}
.content.user-index .card .card-header .right-box ul li a.disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none;
}
.content.user-index .card .card-body table {
  border-collapse: collapse;
  width: 100%;
}
.content.user-index .card .card-body table thead th {
  border-bottom: 2px solid #dee2e6;
}
.content.user-index .card .card-body table tbody td {
  border-top: 1px solid #dee2e6;
}
.content.user-index .card .card-body table tbody tr:last-of-type {
  border-bottom: 2px solid #dee2e6;
}
.content.user-index .card .card-body table tbody td.favorite {
  width: 2rem;
}
.content.user-index .card .card-body table tbody td.name {
  width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}
.content.user-index .card .card-body table thead th, .content.user-index .card .card-body table tbody td {
  padding: 0.75rem;
  font-size: 12px;
}
.content.user-index .card .card-body table tbody tr:hover {
  color: #212529;
  background-color: rgba(0,0,0,.075);
}
.content.user-index .card .card-body table thead th:first-of-type, .content.user-index .card .card-body table tbody td:first-of-type {
  padding-left: 2rem;
}
.content.user-index .card .card-body .pagination {
  display: flex;
  padding: 0 1rem;
  margin: 1rem 0;
}
.content.user-index .card .card-body .pagination a {
  border: 1px solid #ccc;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: .8rem;
  line-height: 2rem;
  color: #007bff;;
}
.content.user-index .card .card-body .pagination a:first-of-type {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.content.user-index .card .card-body .pagination a:last-of-type {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.content.user-index .card .card-body .pagination p {
  line-height: 2rem;
  font-size: 0.9rem;
  color: #666;
  margin: 0 0 0 .5rem;
}

.content.user-index .card .card-body.no-data {
  text-align: center;
  padding: 8rem;
}
.content.user-index .card .card-body.no-data .icon-contena {
  color: #ccc;
  font-size: 40px;
}
.content.user-index .card .card-body.no-data p:first-of-type{
  color: #333;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
.content.user-index .card .card-body.no-data p:last-of-type{
  color: #aaa;
  font-size: 14px;
}