
.wrapper.admin {
  main.main-dashboard {
    //モーダルウィンドウ
    .modal-window {
      position: fixed;
      .modal-contena {
        .modal-main {
          //新規登録、編集画面
          .create-form-contena {
            width: 80%;
            margin: 100px auto 0;
            height: 350px;
            .modal-content {
              .first-row-form, .second-row-form, .third-row-form {
                height: 60px;
                .form-input {
                  width: 60%;
                  height: 70%;
                  margin: 0 auto;
                  position: relative;
                  input {
                    font-size: 16px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    padding-left: 10px;
                    border: none;
                    border-bottom: 2px solid silver;
                    outline: none;
                    font-family: 'Noto Sans Japaneze';
                  }
                  input:focus ~ label,
                  input:valid ~ label {
                    transform: translateY(-30px);
                    color: #9c009c;
                    font-size: 15px;
                  }
                  .underline {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                  }
                  .underline::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #9c009c;
                    transform: scaleX(0);
                    transition: transform .3s ease;
                  }
                  input:focus ~ .underline::before,
                  input:valid ~ .underline::before {
                    transform: scaleX(1);
                  }
                  label {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    color: gray;
                    pointer-events: none;
                    transition: all .3s ease;
                  }
                  .caution_message {
                    font-size: 11px;
                    color: red;
                    position: absolute;
                    bottom: -25px;
                    left: 10px;
                  }
                }
              }
              .first-row-form {
                padding-top: 100px;
              }
              .second-row-form, .third-row-form {
                margin-top: 30px;
              }
            }
          }
          .refresh-form-contena {
            width: 80%;
            margin: 50px auto 0;
            height: 300px;
            .modal-content {
              h1 {
                height: 80px;
                line-height: 80px;
                padding-left: 20px;
                font-size: 23px;
                color: #727272;
              }
              .check-contena {
                display: flex;
                margin: 50px auto 0;
                width: 70%;
                justify-content: space-around;
                .check-contena-box {
                  .checkbox {
                    margin: 0 auto;
                    width: 85px;
                    height: 85px;
                    text-align: center;
                    line-height: 85px;
                    border-radius: 50%;
                    border: 1px solid #333;
                    background: #fff;
                    border: 1px solid #aaa;
                    .check-icon {
                      color: #aaa;
                    }
                    .check-icon.checkIcon {
                      animation-name: checkIcon;
                      animation-duration: .2s;
                      animation-fill-mode: forwards;
                    }
                    .check-icon.noncheckIcon {
                      animation-name: noncheckIcon;
                      animation-duration: .2s;
                      animation-fill-mode: forwards;
                    }
                    @keyframes checkIcon {
                      0% {
                        transform: scaleX(1);
                      }
                      80% {
                        transform: scale(3);
                      }
                      100% {
                        transform: scale(2.5);
                      }
                    }
                    @keyframes noncheckIcon {
                      0% {
                        transform: scaleX(2.5);
                      }
                      80% {
                        transform: scale(0.5);
                      }
                      100% {
                        transform: scale(1);
                      }
                    }
                  }
                  .checkbox:hover {
                    cursor: pointer;
                  }
                  .checkbox:not(:first-of-type) {
                    margin-left: 20px;
                  }
                  .checkbox.item.checkItem {
                    background: #019401e3;
                    .item-icon {
                      color: #fff;
                    }
                  }
                  .checkbox.notification.checkNotification {
                    background: #c20202e5;
                    .notification-icon {
                      color: #fff;
                    }
                  }
                  .checkbox.history.checkHistory {
                    background: #006120;
                    .history-icon {
                      color: #fff;
                    }
                  }
                  p {
                    margin-top: 10px;
                    color: darkgray;
                    text-align: center;
                  }
                  p.checkItem {
                    color: #019401e3;
                    font-weight: bold;
                  }
                  p.checkNotification {
                    color: #c20202e5;
                    font-weight: bold;
                  }
                }
              }
              .caution_message {
                color: #d10202;
                text-align: center;
                margin-top: 20px;
                font-size: 14px;
              }
            }
          }
          .import-form-contena {
            width: 80%;
            margin: 50px auto 0;
            height: 330px;
            .modal-content {
              h1 {
                height: 80px;
                line-height: 80px;
                padding-left: 20px;
                font-size: 23px;
                color: #727272;
              }
              .loading-contena {
                margin: 50px 0 0;
                height: 100px;
                text-align: center;
                .icon-contena {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    display: block;
                    width: 80px;
                    cursor: default;
                  }
                  .arrow-icon {
                    color: #dadada;
                    display: block;
                    font-size: 50px;
                    margin: 0 30px;
                  }
                  .database-icon {
                    display: block;
                    font-size: 80px;
                    color: #757575;
                  }
                }
                .icon-contena.hidden {
                  display: none;
                }
                .import-loader{
                  display: block;
                  margin: 0 auto;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  border: 9px solid purple;
                  z-index: 4;
                  border-right-color: transparent;
                  animation: spin 1s linear infinite; 
                  transform: translate(-50%, -50%);
                  -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                }
                .import-loader.hidden{
                  display: none;
                }       
                @keyframes spin{
                  0% { 
                    transform: rotate(0deg);   
                    opacity: 0.2; 
                  }
                  50% { 
                    transform: rotate(180deg); 
                    opacity: 1.0; 
                  }
                  100% { 
                    transform: rotate(360deg); 
                    opacity: 0.2; 
                  }
                }
                .loading-message {
                  margin-top: 10px;
                  color: purple;
                  font-size: 12px;
                  text-align: center;
                }
                .loading-message.hidden {
                  display: none;
                }
              }
              .caution_message {
                height: 20px;
                color: #d10202;
                text-align: center;
                margin-bottom: 20px;
                font-size: 14px;
              }
              .file-form {
                display: flex;
                justify-content: center;
                height: 60px;
                align-items: center;
                label {
                  height: 40px;
                  width: 120px;
                  text-align: center;
                  line-height: 40px;
                  border-radius: 7px;
                  color: #fff;
                  background-color: #384878;
                  font-size: 11px;
                  cursor: pointer;
                  transition: opacity .3s;
                  input[type="file"] {
                    display: none;
                  }
                }
                label:hover {
                  opacity: 0.8;
                }
                p {
                  padding-left: 10px;
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
    .main-contena {
      .count-info-contena {
        margin: 50px 20px 0;
        display: grid;
        grid-auto-rows: 120px;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-auto-flow: row;
        grid-gap: 30px;
        .count-info {
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.562) 0px 3px 8px;
          opacity: 0;
          .count-info-main {
            display: flex;
            position: relative;
            width: 240px;
            height: 120px;
            border-radius: 5px;
            .left-count-info {
              width: 65%;
              .info-name {
                height: 40%;
                line-height: 48px;
                padding-left: 30px;
                font-size: 17px;
                color: #fff;
                font-weight: bold;
              }
              .info-count {
                height: 60%;
                color: #fff;
                font-size: 33px;
                padding-left: 40px;
              }
              .info-count.info-size {
                font-size: 26px;
                line-height: 54px;
              }
            }
            .right-count-info {
              width: 35%;
              line-height: 120px;
              text-align: center;
              .icon {
                vertical-align: middle;
              }
              .users-icon {
                color: #0044ffea;
              }
              .items-icon {
                color: #019401e3;
              }
              .cart-icon {
                color: #5252f1;
              }
              .notification-icon {
                color: #c20202e5;
              }
              .tag-icon {
                color: #ce3b8c;
              }
              .thema-icon {
                color: #750175;
              }
              .history-icon {
                color: #006120;
              }
              .user-image-icon {
                color: #c27e01;
              }
              .item-image-icon {
                color: #007e94;
              }
            }
          }
        }
        .count-info.show {
          animation-name: countinfo;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        }
        @keyframes countinfo {
          0%{
            opacity: 0;
            transform: translateY(15px);
          }
          100%{
            opacity: 1;
            transform: translateY(0px);
          }
        }
        .count-info-users {
          background: #0077ffe7;
        }
        .count-info-items {
          background: #00c200e8;
        }
        .count-info-cart {
          background: #1313db;
        }
        .count-info-notification {
          background: #ff3c01e1;
        }
        .count-info-tag {
          background: #fc63b7;
        }
        .count-info-thema {
          background: #b301b3;
        }
        .count-info-history {
          background: #007910;
        }
        .size-info-user {
          background: #f19d01;
        }
        .size-info-item {
          background: #00bcdd;
        }
      }
      .submain-contena {
        .submain-contena-logo {
          background: #329b01;
        }
        .submain {
          .submain-content {
            width: 80%;
            margin: 0 auto;
            .action-box {
              display: flex;
              align-items: center;
              .lottie {
                min-width: 50%;
                .lottie-content {
                  margin: 0 auto;
                }
              }
              .explane-contena {
                width: 1fr;
                h1 {
                  font-family: 	Verdana;
                  font-size: 25px;
                  color: #333;
                }
                .explane {
                  width: 90%;
                  margin: 55px auto 0;
                  p {
                    font-family: 	Verdana;
                    font-size: 1rem;
                    line-height: 1.8;
                    color: #333;
                    word-wrap: break-word;
                  }
                }
                .action-link {
                  display: block;
                  margin: 20px auto;
                  width: 150px;
                  height: 50px;
                  line-height: 50px;
                  background: #006effe7;
                  color: #fff;
                  overflow: hidden;
                  border-radius: 5px;
                  position: relative;
                  text-align: center;
                  z-index: 1;
                }
                .action-link::before {
                  background : #009e00;
                  content: "";
                  display: block;
                  height: 100%;
                  left: -110%;
                  position: absolute;
                  transition: .3s;
                  top: 0;
                  width: 100%;
                  z-index: -1;
                }
                .action-link:hover::before {
                  left: 0;
                }
              }
            }
            .action-box:nth-child(even) {
              flex-direction: row-reverse;
            }
          }
        }
      }
    }
  }
}