@charset "UTF-8";

.wrapper.main,
.wrapper.inventory {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.wrapper.main main,
.wrapper.inventory main {
  min-height: calc(100vh - 150px);
  position: relative;
  box-sizing: border-box;
  /* メイン部分 --------------------------------------------------- */
  /* 購入か消費かを決めるバー -------------------------------------- */
  /* ある意味、商品ページのヘッダ的なやつ --------------------------- */
  /* ---------------------------------------------------------------- */
  /* サイドバーと商品リストまとめたやつ ------------------------------ */
  /* ---------------------------------------------------------------- */
  /* カテゴリー分けのサイドバー -------------------------------------- */
  /* ---------------------------------------------------------------- */
  /* 商品リストのタイトル -------------------------------------------- */
  /* ---------------------------------------------------------------- */
  /* 表示件数指定 -------------------------------------------------- */
  /* 追加したよん */
  /* ---------------------------------------------------------------- */
  /* 商品リスト -------------------------------------------------- */
  /* サブローディング -------------------------------------------- */
  /* めっちゃへんこうした */
  /* ---------------------------------------------------------------- */
  /* ページネーションのやつ ------------------------------------- */
  /* ---------------------------------------------------------------- */
  /* ページの上部に戻るボタン的な ------------------------------------- */
  /* 完全に変わった感じ */
  /* ---------------------------------------------------------------- */
  /* 新規作成ボタン ------------------------------------------------ */
  /* 変更したよ */
  /* ---------------------------------------------------------------- */
}

.wrapper.main main li,
.wrapper.inventory main li {
  list-style: none;
  color: #432;
}

.wrapper.main main a,
.wrapper.inventory main a {
  text-decoration: none;
}

.wrapper.main main .buy_consume_bar,
.wrapper.inventory main .buy_consume_bar {
  width: auto;
  height: 60px;
  margin-top: 68px;
  /* background-color: #f8f8f8; */
}

.wrapper.main main .select_buy_consume,
.wrapper.inventory main .select_buy_consume {
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 40px;
  height: 60px;
}

.wrapper.main main .select_buy_consume ul,
.wrapper.inventory main .select_buy_consume ul {
  display: flex;
  justify-content: flex-end;
}

.wrapper.main main .select_buy_consume li,
.wrapper.inventory main .select_buy_consume li {
  margin-left: 15px;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  border-width: thin;
  /* box-shadow: 3px 3px #ccc; */
}

.wrapper.main main .select_buy_consume a,
.wrapper.inventory main .select_buy_consume a {
  padding: 7px 10px;
  color: #fff;
}

.wrapper.main main .select_buy_consume li a,
.wrapper.inventory main .select_buy_consume li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.wrapper.main main .select_buy,
.wrapper.inventory main .select_buy {
  background-color: #e95884;
  border-color: #e95884;
  box-shadow: 1px 2px #8b272b;
}

.wrapper.main main .select_consume,
.wrapper.inventory main .select_consume {
  background-color: #4d4398;
  border-color: #4d4398;
  box-shadow: 1px 2px #333;
}

.wrapper.main main .changing_english,
.wrapper.inventory main .changing_english {
  font-size: 20px;
  font-family: "Economica", sans-serif;
}

.wrapper.main main .changing_japanese,
.wrapper.inventory main .changing_japanese {
  font-family: "Noto Sans JP";
}

.wrapper.main main .ch_white,
.wrapper.inventory main .ch_white {
  color: #fff;
}

.wrapper.main main .main_products_title,
.wrapper.inventory main .main_products_title {
  width: 80%;
  background-color: #00b4b6;
  color: #fff;
  text-align: center;
  margin: 30px auto 40px;
  font-size: 36px;
  font-family: "Caveat", cursive;
}

.wrapper.main main .page_of_main,
.wrapper.inventory main .page_of_main {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.wrapper.main main .category_division,
.wrapper.inventory main .category_division {
  width: 18%;
  height: auto;
  margin-right: 1%;
  border-top: solid 4px #432;
  order: 1;
}

.wrapper.main main .division_of_allitem,
.wrapper.inventory main .division_of_allitem {
  margin: 14px 2px;
}

.wrapper.main main .division_of_allitem li,
.wrapper.inventory main .division_of_allitem li {
  width: auto;
  height: auto;
  margin: 5px 10px 0px;
  font-size: 24px;
  font-family: "Caveat", cursive;
  text-align: center;
  border: solid 2px #432;
  transition: all 0.3s;
}

.wrapper.main main .division_of_allitem li a,
.wrapper.inventory main .division_of_allitem li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #432;
}

.wrapper.main main .division_of_allitem li:hover a:hover,
.wrapper.inventory main .division_of_allitem li:hover a:hover {
  background-color: #432;
  color: #fff;
  cursor: pointer;
}

.wrapper.main main .division_of_allitem a:hover,
.wrapper.inventory main .division_of_allitem a:hover {
  color: #fff;
}

.wrapper.main main .category_division_title,
.wrapper.inventory main .category_division_title {
  margin: 30px 10px 0;
  font-size: 24px;
  font-family: "Segoe UI";
  border-bottom: solid 4px;
}

.wrapper.main main .before_grade_division,
.wrapper.inventory main .before_grade_division {
  margin: 0 10px;
}

.wrapper.main main .before_grade_division_li,
.wrapper.inventory main .before_grade_division_li {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Segoe UI";
  border-bottom: solid 3px;
}

.wrapper.main main .before_grade_division_li a,
.wrapper.inventory main .before_grade_division_li a {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #432;
}

.wrapper.main main .before_grade_division_li_final,
.wrapper.inventory main .before_grade_division_li_final {
  font-family: "Noto Sans JP";
}

.wrapper.main main .accordion_menu,
.wrapper.inventory main .accordion_menu {
  margin-left: 10px;
}

.wrapper.main main .accordion_header,
.wrapper.inventory main .accordion_header {
  display: flex;
  box-sizing: border-box;
  border-bottom: solid 2px #432;
  padding: 2px 0;
}

.wrapper.main main .accordion_header_4c,
.wrapper.inventory main .accordion_header_4c {
  display: flex;
  box-sizing: border-box;
  border-bottom: solid 2px #432;
  padding: 2px 0;
  margin-left: 10px;
}

.wrapper.main main .a_color_select,
.wrapper.inventory main .a_color_select {
  font-size: 16px;
  font-family: "Noto Sans JP";
  color: #432;
}

.wrapper.main main .menu_icon,
.wrapper.inventory main .menu_icon {
  margin: auto 5px auto auto;
  text-align: right;
  font-size: 10px;
  transition: all 0.5s;
  cursor: default;
}

.wrapper.main main .open .menu_icon,
.wrapper.inventory main .open .menu_icon {
  transform: rotate(-90deg);
}

.wrapper.main main .theme_division,
.wrapper.inventory main .theme_division {
  margin-left: 10px;
  display: none;
}

.wrapper.main main .theme_division li,
.wrapper.inventory main .theme_division li {
  margin-top: 5px;
}

.wrapper.main main .theme_division ul li a,
.wrapper.inventory main .theme_division ul li a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 3px 0 3px 8px;
  font-size: 14px;
  font-family: "Noto Sans JP";
  color: #432;
  border-radius: 5px;
  transition: all 0.1s;
}

.wrapper.main main .theme_division ul li a:hover,
.wrapper.inventory main .theme_division ul li a:hover {
  background-color: #e95884;
  color: #fcfcfc;
}

.wrapper.main main .main_products,
.wrapper.inventory main .main_products {
  width: 80%;
  height: auto;
  padding-left: 1%;
  order: 2;
}

.wrapper.main main .name_with_search_bar,
.wrapper.inventory main .name_with_search_bar {
  display: flex;
  border-bottom: solid 2px;
  border-color: #432;
  box-sizing: border-box;
}

.wrapper.main main .item_category_name,
.wrapper.inventory main .item_category_name {
  width: auto;
  font-size: 28px;
  font-family: "Caveat", cursive;
}

.wrapper.main main .item_category_name span,
.wrapper.inventory main .item_category_name span {
  font-family: "Noto Sans JP";
  font-size: 12px;
  margin-bottom: 0;
}

.wrapper.main main .category_span_first,
.wrapper.inventory main .category_span_first {
  margin-left: 15px;
}

.wrapper.main main .search_bar,
.wrapper.inventory main .search_bar {
  width: auto;
  height: 34px;
  text-align: right;
  margin: auto 0px auto auto;
  box-sizing: border-box;
}

.wrapper.main main .search_bar_form,
.wrapper.inventory main .search_bar_form {
  display: flex;
}

.wrapper.main main .search_text,
.wrapper.inventory main .search_text {
  font-size: 16px;
  height: 34px;
  margin-right: 0;
  padding: 5px 5px 5px 15px;
  border-radius: 17px 0 0 17px;
  outline: 0;
  background-color: #f6f6f6;
}

.wrapper.main main .search_decision,
.wrapper.inventory main .search_decision {
  height: 34px;
  padding: 5px 10px 5px 0;
  background-color: #f6f6f6;
  color: #a7d9dd;
  outline: none;
  border: none;
  font-size: 16px;
  /*アイコンサイズ*/
  border-radius: 0 17px 17px 0;
}

.wrapper.main main .select_item_amount_all,
.wrapper.inventory main .select_item_amount_all {
  width: 100%;
  margin: 20px 0;
  display: flex;
}

.wrapper.main main .select_item_amount_all p,
.wrapper.inventory main .select_item_amount_all p {
  height: 24px;
  padding: 5px;
  line-height: 24px;
  border: solid 2px #fff;
}

.wrapper.main main .item_amount_dsp,
.wrapper.inventory main .item_amount_dsp {
  padding-left: 5px;
}

.wrapper.main main .select_item_amount_div_all,
.wrapper.inventory main .select_item_amount_div_all {
  height: auto;
  margin: 0 20px 0 auto;
  display: flex;
}

.wrapper.main main .select_item_amount_div,
.wrapper.inventory main .select_item_amount_div {
  width: 100px;
  height: 38px;
  cursor: pointer;
}

.wrapper.main main .select_item_amount_p,
.wrapper.inventory main .select_item_amount_p {
  width: 100% !important;
  height: 100% !important;
  padding: 5px 15px !important;
  line-height: 20px;
  border: solid 2px #999 !important;
  border-radius: 7px;
  box-sizing: border-box;
  z-index: 2;
}

.wrapper.main main .select_menu,
.wrapper.inventory main .select_menu {
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px #aaa;
  position: absolute;
  z-index: 1;
  display: none;
}

.wrapper.main main .select_menu li,
.wrapper.inventory main .select_menu li {
  padding-left: 15px;
  border: solid 1px #fff;
  border-radius: 3px;
  box-sizing: border-box;
}

.wrapper.main main .select_menu li:hover,
.wrapper.inventory main .select_menu li:hover {
  background-color: #64c0ab;
  color: #fff;
}

.wrapper.main main .select_items,
.wrapper.inventory main .select_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 10px;
  position: relative;
}

.wrapper.main main .sub-loader,
.wrapper.inventory main .sub-loader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 997;
}

.wrapper.main main .sub-loader.subloadingHide,
.wrapper.inventory main .sub-loader.subloadingHide {
  display: none;
}

.wrapper.main main .sub-loading,
.wrapper.main main .sub-loading::before,
.wrapper.main main .sub-loading::after,
.wrapper.inventory main .sub-loading,
.wrapper.inventory main .sub-loading::before,
.wrapper.inventory main .sub-loading::after {
  background: #e95884;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.wrapper.main main .sub-loading,
.wrapper.inventory main .sub-loading {
  color: #e95884;
  position: absolute;
  top: 150px;
  left: 50%;
  font-size: 10px;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.wrapper.main main .sub-loading::before,
.wrapper.main main .sub-loading::after,
.wrapper.inventory main .sub-loading::before,
.wrapper.inventory main .sub-loading::after {
  position: absolute;
  top: 0;
  content: "";
}

.wrapper.main main .sub-loading::before,
.wrapper.inventory main .sub-loading::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.wrapper.main main .sub-loading::after,
.wrapper.inventory main .sub-loading::after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.wrapper.main main .no-items,
.wrapper.inventory main .no-items {
  width: 100%;
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: #aaa;
}

.wrapper.main main .no-items .info-icon,
.wrapper.inventory main .no-items .info-icon {
  color: #aaa;
}

.wrapper.main main .select_items li,
.wrapper.inventory main .select_items li {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 5px 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #f5f3f2;
  display: flex;
  /* additional */
  font-family: "Noto Sans JP";
}

.wrapper.main main .select_items li:hover,
.wrapper.inventory main .select_items li:hover {
  background-color: #f5f3f2;
}

.wrapper.main main .for_table_image,
.wrapper.inventory main .for_table_image {
  display: flex;
  width: 125px;
  height: 150px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.wrapper.main main .select_items li img,
.wrapper.inventory main .select_items li img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.wrapper.main main .products_title_tag,
.wrapper.inventory main .products_title_tag {
  width: calc(85% - 420px);
  height: 100%;
  padding-left: 20px;
}

.wrapper.main main .products_title,
.wrapper.inventory main .products_title {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper.main main .products_title a,
.wrapper.inventory main .products_title a {
  font-size: 19px;
  color: #432;
}

.wrapper.main main .products_title a:hover,
.wrapper.inventory main .products_title a:hover {
  color: #8e775d;
}

.wrapper.main main .products_model_number,
.wrapper.main main .products_discription,
.wrapper.inventory main .products_model_number,
.wrapper.inventory main .products_discription {
  font-size: 14px;
}

.wrapper.main main .products_discription,
.wrapper.inventory main .products_discription {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.wrapper.main main .products_tag_all,
.wrapper.inventory main .products_tag_all {
  width: auto;
  height: 72px;
  display: flex;
}

.wrapper.main main .products_tag,
.wrapper.inventory main .products_tag {
  width: auto;
  height: 44px;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.wrapper.main main .tag_per,
.wrapper.inventory main .tag_per {
  display: flex;
  margin: 5px 0 5px 10px;
}

.wrapper.main main .submit_tag,
.wrapper.inventory main .submit_tag {
  width: auto;
  height: 34px;
  color: #fff;
  /* margin-right: 10px; */
  padding: 2px 10px;
  display: inline-block;
  line-height: 30px;
  background-color: #2bb7b3;
  vertical-align: middle;
  /* 追加 */
  font-size: 16px;
  box-shadow: 2px 2px #eee;
  box-sizing: border-box;
  border-radius: 34px;
}

.wrapper.main main .submit_tag:hover,
.wrapper.inventory main .submit_tag:hover {
  background-color: #e95884;
}

.wrapper.main main .price_number_form,
.wrapper.inventory main .price_number_form {
  width: 450px;
  height: 150px;
  display: flex;
}

.wrapper.main main .products_price,
.wrapper.inventory main .products_price {
  height: 100%;
  width: 80px;
  padding-left: 20px;
  margin-right: 0;
}

.wrapper.main main .products_price p,
.wrapper.inventory main .products_price p {
  margin: 65px 0;
  color: #e60012;
  font-weight: bold;
  text-align: center;
}

.wrapper.main main .products_amount,
.wrapper.inventory main .products_amount {
  height: 100%;
  width: 80px;
  padding-left: 20px;
  margin-right: 0;
  display: flex;
}

.wrapper.main main .products_amount_div,
.wrapper.inventory main .products_amount_div {
  margin: auto 0;
}

.wrapper.main main .products_amount_div p,
.wrapper.inventory main .products_amount_div p {
  margin: 0;
  text-align: center;
}

.wrapper.main main .amount_num,
.wrapper.inventory main .amount_num {
  color: #e60012;
  font-size: 20px;
  font-weight: bold;
}

.wrapper.main main .amount_change_button,
.wrapper.inventory main .amount_change_button {
  margin-top: 62px;
  width: 156px !important;
  padding-left: 20px;
}

.wrapper.main main input,
.wrapper.inventory main input {
  border: none;
  outline: none;
  color: #000;
  margin: 0 auto;
}

.wrapper.main main input[type=number]::-webkit-outer-spin-button,
.wrapper.main main input[type=number]::-webkit-inner-spin-button,
.wrapper.inventory main input[type=number]::-webkit-outer-spin-button,
.wrapper.inventory main input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper.main main input[type=number],
.wrapper.inventory main input[type=number] {
  -moz-appearance: textfield;
}

.wrapper.main main .amount_change_button,
.wrapper.inventory main .amount_change_button {
  width: 120px;
  height: 30px;
  margin-top: 63px 0 0;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}

.wrapper.main main .amount_change_button input,
.wrapper.inventory main .amount_change_button input {
  border: 1px solid #ccc;
  font-size: 20px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.wrapper.main main .amount_change_button input[type=button],
.wrapper.inventory main .amount_change_button input[type=button] {
  cursor: pointer;
}

.wrapper.main main .amount_button,
.wrapper.inventory main .amount_button {
  height: 28px;
  width: 28px;
  background-color: #e95884;
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  border: none;
  order: 1;
}

.wrapper.main main .amount_button.inventory,
.wrapper.inventory main .amount_button.inventory {
  background-color: #4d4398;
}

.wrapper.main main .FormOfms,
.wrapper.inventory main .FormOfms {
  height: 28px;
  width: 50px;
  transition: all 0.6s ease;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
  font-size: 100%;
  text-align: center;
  order: 2;
}

.wrapper.main main .button_cartin,
.wrapper.inventory main .button_cartin {
  width: 180px;
  height: 35px;
  margin: 61px 15px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #e95884;
  cursor: pointer;
}

.wrapper.main main .submit_button,
.wrapper.inventory main .submit_button {
  width: 200px;
  margin-right: 0;
}

.wrapper.main main .button_cartin.button_cartin_cancel,
.wrapper.inventory main .button_cartin.button_cartin_cancel {
  background-color: #2bb7b3;
}

.wrapper.main main .inventory_input,
.wrapper.main main .inventory_output,
.wrapper.inventory main .inventory_input,
.wrapper.inventory main .inventory_output {
  height: 50%;
  display: flex;
}

.wrapper.main main .inventory_input_button,
.wrapper.inventory main .inventory_input_button {
  margin: auto 0 7px auto;
}

.wrapper.main main .inventory_output_button,
.wrapper.inventory main .inventory_output_button {
  margin: 7px 0 auto auto;
}

.wrapper.main main .button_inventory,
.wrapper.inventory main .button_inventory {
  width: 180px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper.main main .button_cartin_in,
.wrapper.inventory main .button_cartin_in {
  background-color: #4d4398;
}

.wrapper.main main .button_cartin_out,
.wrapper.inventory main .button_cartin_out {
  background-color: #9f002d;
}

.wrapper.main main .button_cartin p,
.wrapper.main main .button_inventory p,
.wrapper.inventory main .button_cartin p,
.wrapper.inventory main .button_inventory p {
  text-align: center;
  /* additional */
  font-family: "Noto Sans JP";
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
}

.wrapper.main main .button_cartin i,
.wrapper.main main .button_inventory i,
.wrapper.inventory main .button_cartin i,
.wrapper.inventory main .button_inventory i {
  font-size: 18px;
  margin-left: 10px;
}

.wrapper.main main .for_pagenation_div,
.wrapper.inventory main .for_pagenation_div {
  width: 100%;
  margin: 40px 0;
}

.wrapper.main main .for_pagenation_ul,
.wrapper.inventory main .for_pagenation_ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wrapper.main main .for_pagenation_li,
.wrapper.inventory main .for_pagenation_li {
  width: 35px;
  height: 35px;
  margin: 0 15px;
  border: solid 1px #666;
  border-radius: 35px;
  display: flex;
  box-sizing: border-box;
  transition: all 0.2s;
}

.wrapper.main main .for_pagenation_li_gap,
.wrapper.inventory main .for_pagenation_li_gap {
  width: 20px;
  height: 35px;
  margin: 0 15px;
  border: solid 2px #fff;
  display: flex;
  box-sizing: border-box;
}

.wrapper.main main .for_pagenation_li a,
.wrapper.inventory main .for_pagenation_li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 31px;
  text-align: center;
  color: #666;
  transition: all 0.2s;
}

.wrapper.main main .for_pagenation_li:hover,
.wrapper.inventory main .for_pagenation_li:hover {
  border: solid 2px #2bb7b3;
  background-color: #2bb7b3;
  transition: all 0.2s;
}

.wrapper.main main .for_pagenation_li:hover a,
.wrapper.inventory main .for_pagenation_li:hover a {
  color: #fff;
}

.wrapper.main main .for_pagenation_li a:hover,
.wrapper.inventory main .for_pagenation_li a:hover {
  color: #fff;
  transition: all 0.2s;
}

.wrapper.main main .for_pagenation_li_selected,
.wrapper.inventory main .for_pagenation_li_selected {
  border: solid 2px #e95884;
  background-color: #e95884;
}

.wrapper.main main .for_pagenation_li_selected a,
.wrapper.inventory main .for_pagenation_li_selected a {
  color: #fff;
}

.wrapper.main main .for_pagenation_li_selected:hover,
.wrapper.inventory main .for_pagenation_li_selected:hover {
  border: solid 2px #e95884;
  background-color: #e95884;
}

.wrapper.main main .for_pagenation_li_selected a:hover,
.wrapper.inventory main .for_pagenation_li_selected a:hover {
  color: #fff;
}

.wrapper.main main .for_pagetop,
.wrapper.inventory main .for_pagetop {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
  text-align: center;
  /* background-color: #fff; */
}

.wrapper.main main .for_pagetop_icon,
.wrapper.inventory main .for_pagetop_icon {
  font-size: 30px;
  line-height: 40px;
}

.wrapper.main main .for_pagetop p,
.wrapper.inventory main .for_pagetop p {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #fff; */
}

.wrapper.main main .for_pagetop p a,
.wrapper.inventory main .for_pagetop p a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #432;
}

.wrapper.main main .for_new_item_making,
.wrapper.inventory main .for_new_item_making {
  width: 80px;
  height: 80px;
  background-color: #2bb7b3;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 8px #ccc;
}

.wrapper.main main .for_new_item_making a,
.wrapper.inventory main .for_new_item_making a {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  /* additional */
  font-family: "Noto Sans JP";
}

.wrapper.main main .for_item_making_div,
.wrapper.inventory main .for_item_making_div {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 20px;
}

.wrapper.main main .create_item_icon,
.wrapper.inventory main .create_item_icon {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}


