.content.create .card {
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.content.create .card:not(:first-of-type){
  margin-top: 10px;
}
.content.create .card .card-header {
  background-color: #c3c3c3;
  color: #fff;
  padding: 0.55rem 1.25rem;
  position: relative;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.content.create .card .card-header.open {
  background-color: #007bff;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.content.create .card .card-header span .plus-square-icon {
  margin-right: 0.7rem;
}