.type02-contena {
  padding: 10px 20px;
}
.type02-contena form > .form-group-row, .type02-contena form > .form-group {
  margin-top: .7rem;
}
.type02-contena form .form-group-row {
  display: flex;
}
.type02-contena form .form-group-row .form-group:not(:first-of-type) {
  margin-left: .8rem;
}
.type02-contena form .form-group {
  display: flex;
  flex-direction: column;
}
.type02-contena form .form-group label {
  color: #666;
  font-weight: bold;
  padding-left: 0.5rem;
}
.type02-contena form .form-group label span {
  font-size: 11px;
  margin-left: 0.4rem;
  color: #dc3545;
  vertical-align: middle;
}
.type02-contena form .form-group input {
  padding: .6rem .9rem;
  outline: none;
  border: 2px solid #ccc;
  border-radius: .25rem;
}
.type02-contena form .form-group input:focus {
  border: 2px solid #007bff;
}