@charset "UTF-8";

/* 共通部分 ------------------------------------------ */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  min-height: calc(100vh - 150px);
  box-sizing: border-box;
}

li {
  list-style: none;
  color: #432;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  cursor: pointer;
}

p,
div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  /* 相対位置 */
  box-sizing: border-box;
  /* 全て含めてmin -height : 100 vh */
  padding-bottom: 80px;
}

/* ヘッダー----------------------------------------------------------------------------------- */

header.page_header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  /* 追加 */
  /* 追加 */
  /*スクロールバーの軌道*/
  /*スクロールバーの動く部分*/
  /* reset */
}

header.page_header .header_menu {
  height: 50px;
  display: flex;
  margin-right: 43px;
  margin-top: 15px;
}

header.page_header .shopping_cart {
  height: 35px;
  display: flex;
  margin: 0 25px auto 0;
}

header.page_header .shopping_cart a {
  box-sizing: border-box;
  display: flex;
}

header.page_header .shopping_cart a.animation {
  -webkit-animation-name: cartanimation;
          animation-name: cartanimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

header.page_header .shopping_cart_first {
  text-align: center;
  margin-right: 7px;
}

header.page_header .shopping_cart_icon {
  height: 41px;
  margin: 0 auto;
  margin-right: 2px;
}

header.page_header .shopping_cart_number {
  min-width: 25px;
  margin-top: 0px;
  margin-left: -23px;
}

header.page_header .shopping_cart_amount {
  text-align: center;
  padding: 1px 4px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  background-color: #e60012;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 18px;
}

header.page_header .notification_button {
  height: 35px;
  margin: 0 25px auto 0;
  text-align: center;
}

header.page_header .notification_button a {
  box-sizing: border-box;
}

header.page_header .notification_top {
  display: flex;
}

header.page_header .notification_icon {
  height: 41px;
  margin: auto;
  margin-right: 2px;
}

header.page_header .notification_number {
  min-width: 25px;
  margin-top: 5px;
  margin-left: -23px;
}

header.page_header .notification_amount {
  padding: 1px 4px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  background-color: #e60012;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 18px;
}

header.page_header .notification_message_div {
  width: 500px;
  max-height: calc(100vh - 200px);
  position: absolute;
  top: 67px;
  right: 120px;
  background-image: url("/image/notification_background.jpg");
  background-size: cover;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  box-shadow: 0 0 8px #aaa;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
}

header.page_header ::-webkit-scrollbar {
  width: 10px;
}

header.page_header ::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

header.page_header ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

header.page_header .notification_message_div_bg {
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px 0 0 10px;
}

header.page_header .notification_message_all {
  width: auto;
  max-width: 85%;
  padding: 5px;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 8px #aaa;
}

header.page_header .mes_my {
  margin: 10px 10px 10px auto;
}

header.page_header .mes_other {
  margin: 10px auto 10px 10px;
}

header.page_header .notification_message_date_all {
  width: 70px;
}

header.page_header .notification_message_date {
  width: 70px;
  height: 70px;
  color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
}

header.page_header .stock_trigger {
  background: #ce3b8c;
}

header.page_header .user_trigger {
  background: #0044ffea;
}

header.page_header .item_trigger {
  background: #019401e3;
}

header.page_header .thema_trigger {
  background: #750175;
}

header.page_header .export_trigger {
  background: #007e94;
}

header.page_header .subaction_trigger {
  background: #ee7c12;
}

header.page_header .notification_message_date_inside {
  width: 100%;
  margin: auto;
}

header.page_header .event_year {
  line-height: 20px;
  margin: auto 0 2px 0;
}

header.page_header .notification_message_date_inside hr {
  border: solid 1px #fff;
  margin: 0 5px;
}

header.page_header .event_date {
  line-height: 20px;
  margin: 5px 0 auto 0;
}

header.page_header .notification_message {
  width: auto;
  max-width: calc(100% - 70px);
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

header.page_header .notification_message_inside {
  margin-right: 0;
}

header.page_header .notification_message_inside p {
  text-align: left;
}

header.page_header .for_my_account {
  height: 45px;
  display: flex;
  text-align: center;
  margin: 0 auto auto auto;
}

header.page_header .for_account {
  display: none;
}

header.page_header .for_my_account_ul {
  z-index: 1000;
  display: none;
  width: 175px;
  position: absolute;
  top: 67px;
  right: 40px;
  background-color: #fcf7f7;
  text-align: left;
  border-radius: 5px;
  border: solid 1px #432;
  box-shadow: 0 0 8px #ccc;
}

header.page_header .for_my_account ul li {
  padding: 5px 10px;
  margin: 0;
  border-left: solid 3px #432;
}

header.page_header .for_my_account ul li:not(:last-child) {
  border-bottom: solid 1px #432;
}

header.page_header .for_my_account ul li a {
  color: #432;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

header.page_header .for_my_account ul li:hover {
  background-color: #f9d6e2;
}

header.page_header .account_img {
  height: 45px;
  width: 45px;
  margin: auto;
}

header.page_header .account_img a {
  box-sizing: border-box;
  margin: auto;
}

header.page_header .account_img a img {
  box-sizing: border-box;
}

header.page_header .profile_img {
  height: 35px;
  width: 35px;
  margin: auto;
  margin-right: 2px;
  padding: 3px;
  border-radius: 50%;
  border: double 2px #e6c5cf;
}

header.page_header .profile_img:hover {
  border-color: #bdd8dd;
}

header.page_header h1 {
  height: 55px;
  margin-top: 8px;
  margin-left: 40px;
  font-size: 26px;
}

header.page_header h1 a {
  color: #432;
}

header.page_header h1 p {
  font-family: "Noto Sans JP";
}

header.page_header .h1_sub {
  font-size: 15px;
}

header.page_header .main_title {
  line-height: 20px;
}

header.page_header .main_title2 {
  line-height: 34px;
}

@-webkit-keyframes cartanimation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes cartanimation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

header.page_header button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

header.page_header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.page_header li,
header.page_header p {
  margin: 0;
}

.wrapper.main header.page_header,
.wrapper.cart-index header.page_header,
.wrapper.cart-confirm header.page_header {
  border-color: #e95884;
  transition: all 1s;
}

.wrapper.user-show header.page_header,
.wrapper.user-edit header.page_header {
  border-color: #0068b7;
  transition: all 1s;
}

.wrapper.inventory header.page_header {
  border-color: #4d4398;
  transition: all 1s;
}

.wrapper.create header.page_header,
.wrapper.show header.page_header,
.wrapper.edit header.page_header {
  border-color: #2bb7b3;
  transition: all 1s;
}

/* フッター-----------------------------------------------------------------------------*/

footer.page_footer {
  width: 100%;
  background-color: #e6c5cf;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  /* 相対位置 */
  bottom: 0;
  /* 下に固定 */
}

.wrapper.main footer.page_footer,
.wrapper.cart-index footer.page_footer,
.wrapper.cart-confirm footer.page_footer {
  background-color: #e95884;
}

.wrapper.user-show footer.page_footer,
.wrapper.user-edit footer.page_footer {
  background-color: #0068b7;
}

.wrapper.inventory footer.page_footer {
  background-color: #4d4398;
}

.wrapper.create footer.page_footer,
.wrapper.show footer.page_footer,
.wrapper.edit footer.page_footer {
  background-color: #2bb7b3;
}

.footer p {
  font-family: "Noto Sans JP";
}

/* Openingのアニメーション --------------------------------------------------- */

.opening-animation {
  opacity: 0;
  color: #333;
  font-size: 30px;
  position: fixed;
  z-index: 3001;
  top: 30%;
  left: 42%;
  font-family: "Homemade Apple", cursive;
  text-align: center;
  -webkit-animation-name: openingtext;
          animation-name: openingtext;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.opening-animation img {
  cursor: progress;
}

.opening-animation.hide {
  display: none;
}

.opening-animation-filter {
  opacity: 1;
  position: fixed;
  background: #fff;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 3000;
  -webkit-animation-name: openingfilter;
          animation-name: openingfilter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.opening-animation-filter.hide {
  display: none;
}

@-webkit-keyframes openingtext {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes openingtext {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes openingfilter {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes openingfilter {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Adminpageのアニメーション-------------------------------------------------- */

.admin-animation {
  opacity: 0;
  color: #fff;
  font-size: 50px;
  position: fixed;
  z-index: 4;
  width: 100vw;
  line-height: 100vh;
  font-family: "Homemade Apple", cursive;
  text-align: center;
  -webkit-animation-name: admintext;
          animation-name: admintext;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.admin-animation.hide {
  display: none;
}

.admin-animation-filter {
  opacity: 1;
  position: fixed;
  background: #333;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 2;
  -webkit-animation-name: adminfilter;
          animation-name: adminfilter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.admin-animation-filter.hide {
  display: none;
}

@-webkit-keyframes admintext {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  20% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes admintext {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  20% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@-webkit-keyframes adminfilter {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes adminfilter {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Adminpageのローディング ------------------------------------------ */

.admin-loader {
  display: block;
  position: absolute;
  width: 60px;
  /*ローディングアイコンの横サイズ*/
  height: 60px;
  /*ローディングアイコンの縦サイズ*/
  border-radius: 50%;
  /*CSS3で円を書く*/
  border: 9px solid purple;
  /*円に○の白枠をつける*/
  z-index: 4;
  border-right-color: transparent;
  /*円の右にC状の空きをつける*/
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  /*1秒毎にくるくる回転するアニメーション*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.admin-loader.hidden {
  display: none;
}

.admin-mask {
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.admin-mask.hidden {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }

  /*0%の時は20％の透明度*/
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }

  /*50%の時は透明度なし*/
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }

  /*100%の時に20％の透明度に戻る*/}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }

  /*0%の時は20％の透明度*/
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }

  /*50%の時は透明度なし*/
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }

  /*100%の時に20％の透明度に戻る*/}

/* Adminpageのローディング ------------------------------------------ */

.adminLoadingContena .adminMain-loader {
  display: block;
  position: fixed;
  width: 60px;
  /*ローディングアイコンの横サイズ*/
  height: 60px;
  /*ローディングアイコンの縦サイズ*/
  border-radius: 50%;
  /*CSS3で円を書く*/
  border: 9px solid purple;
  /*円に○の白枠をつける*/
  z-index: 4;
  border-right-color: transparent;
  /*円の右にC状の空きをつける*/
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  /*1秒毎にくるくる回転するアニメーション*/
  top: calc(50% - 60px / 2);
  left: calc(50% + 270px / 2);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.adminLoadingContena .adminMain-loader.hidden {
  opacity: 0;
}

.adminLoadingContena .adminMain-loader.none {
  display: none;
}

.adminLoadingContena .adminMain-mask {
  position: fixed;
  min-width: calc(100vw - 300px);
  right: 0;
  background-color: #fff;
  min-height: 100vh;
  top: 0;
  z-index: 3;
}

.adminLoadingContena .adminMain-mask.hidden {
  -webkit-animation-name: opacityDown;
          animation-name: opacityDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.adminLoadingContena .adminMain-mask.none {
  display: none;
}

@-webkit-keyframes opacityDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes opacityDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }

  /*0%の時は20％の透明度*/
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }

  /*50%の時は透明度なし*/
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }

  /*100%の時に20％の透明度に戻る*/}

/* 画面全体のローディング------------------------------------------------------------------------------- */

.loader {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  position: fixed;
  z-index: 997;
}

.loader.hidden {
  -webkit-animation-name: opacityDown;
          animation-name: opacityDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader.none {
  display: none;
}

.loading,
.loading::before,
.loading::after {
  background: #e95884;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loading {
  color: #e95884;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loading::before,
.loading::after {
  position: fixed;
  top: 0;
  content: "";
}

.loading::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading::after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes opacityDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* メッセージ ----------------------------------------------------------------------- */

.message {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 2px;
  width: 300px;
  height: 55px;
  line-height: 55px;
  z-index: 2;
}

.flash_message {
  background: #79b323;
}

.error_message {
  background: #e77070;
}

.icon {
  margin-right: 10px;
}

.message.animation {
  -webkit-animation-name: message;
          animation-name: message;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes message {
  0% {
    opacity: 0;
    transform: translate(-50%, 150px);
  }

  20% {
    opacity: 0.8;
    transform: translate(-50%, 200px);
  }

  80% {
    opacity: 0.8;
    transform: translate(-50%, 200px);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 150px);
  }
}

@keyframes message {
  0% {
    opacity: 0;
    transform: translate(-50%, 150px);
  }

  20% {
    opacity: 0.8;
    transform: translate(-50%, 200px);
  }

  80% {
    opacity: 0.8;
    transform: translate(-50%, 200px);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 150px);
  }
}

.flex_box {
  position: relative;
}

.box_first {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 100px;
  width: 200px;
  height: 100px;
  background-color: red;
}

.box_first.hide_first {
  -webkit-animation-name: change_1;
          animation-name: change_1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.box_first.show_first {
  -webkit-animation-name: returnchange_1;
          animation-name: returnchange_1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.box_second {
  display: block;
  position: absolute;
  bottom: 100px;
  left: 400px;
  right: 0;
  margin: auto;
  opacity: 0;
  width: 200px;
  height: 100px;
  background-color: blue;
}

.box_second.hide_second {
  -webkit-animation-name: change_2;
          animation-name: change_2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.box_second.show_second {
  -webkit-animation-name: returnchange_2;
          animation-name: returnchange_2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes change_1 {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes change_1 {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@-webkit-keyframes returnchange_1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  30% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes returnchange_1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  30% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@-webkit-keyframes change_2 {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  30% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-200px);
  }
}

@keyframes change_2 {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  30% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(-200px);
  }
}

@-webkit-keyframes returnchange_2 {
  0% {
    opacity: 1;
    transform: translateX(-200px);
  }

  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}

@keyframes returnchange_2 {
  0% {
    opacity: 1;
    transform: translateX(-200px);
  }

  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}

.alert-contena {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  width: 600px;
  height: 200px;
  z-index: 2;
}

.alert-contena .alert-main {
  opacity: 0;
  position: relative;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  z-index: 1;
}

.alert-contena .alert-main .alert-contena-logo {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  top: -25px;
  left: 15px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: #9c009c;
}

.alert-contena .alert-main .alert-contena-logo .alert-contena-icon {
  color: #fff;
}

.alert-contena .alert-main .alert-message {
  height: 60px;
  line-height: 60px;
  color: #464646;
  text-align: center;
  padding-top: 45px;
}

.alert-contena .alert-main .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.alert-contena .alert-main .buttons li {
  width: 100px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  margin-right: 25px;
}

.alert-contena .alert-main .buttons li a {
  display: block;
  color: #eee;
  font-size: 13px;
  height: 100%;
}

.alert-contena .alert-main .buttons li a .buttons-icon {
  margin-right: 10px;
}

.alert-contena .alert-main .buttons li.back-button {
  background: #9b9b9b;
}

.alert-contena .alert-main .buttons li.ok-button {
  background: #9c009c;
}

.alert-contena .alert-main.none {
  display: none;
}

.alert-contena .alert-main.show {
  -webkit-animation-name: showmodal;
          animation-name: showmodal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes showmodal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showmodal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.alert-contena .alert-main.hide {
  -webkit-animation-name: hidemodal;
          animation-name: hidemodal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hidemodal {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes hidemodal {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.alert-contena .alert-mask {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #333333bd;
}

.alert-contena.none {
  display: none;
}


